<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.borrow.dao.BorrowMonthableDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.fortune.borrow.entity.BorrowMonthable" >
     <id column="credit_monable_id" property="creditMonableId" jdbcType="VARCHAR" />
    <result column="credit_mon_id" property="creditMonId" jdbcType="VARCHAR" />
    <result column="loan_code" property="loanCode" jdbcType="VARCHAR" />
    <result column="loan_id" property="loanId" jdbcType="VARCHAR" />
    <result column="loan_name" property="loanName" jdbcType="VARCHAR" />
    <result column="loan_idcard" property="loanIdcard" jdbcType="VARCHAR" />
    <result column="loan_job" property="loanJob" jdbcType="VARCHAR" />
    <result column="loan_product" property="loanProduct" jdbcType="VARCHAR" />
    <result column="loan_purpose" property="loanPurpose" jdbcType="VARCHAR" />
    <result column="dict_loan_type" property="dictLoanType" jdbcType="VARCHAR" />
    <result column="loan_outmoney_day" property="loanOutmoneyDay" jdbcType="DATE" />
    <result column="loan_backmoney_firday" property="loanBackmoneyFirday" jdbcType="DATE" />
    <result column="loan_credit_day_usable" property="loanCreditDayUsable" jdbcType="DATE" />
    <result column="loan_day" property="loanDay" jdbcType="INTEGER" />
    <result column="loan_available_days" property="loanAvailableDays" jdbcType="INTEGER" />
    <result column="loan_backmoney_day" property="loanBackmoneyDay" jdbcType="DATE" />
    <result column="loan_month_rate" property="loanMonthRate" jdbcType="NUMERIC" />
    <result column="loan_credit_value" property="loanCreditValue" jdbcType="NUMERIC" />
    <result column="loan_availabe_value" property="loanAvailabeValue" jdbcType="NUMERIC" />
    <result column="loan_value_year" property="loanValueYear" jdbcType="NUMERIC" />
    <result column="dict_loan_free_flag" property="dictLoanFreeFlag" jdbcType="VARCHAR" />
    <result column="dic_loan_distinguish" property="dicLoanDistinguish" jdbcType="VARCHAR" />
    <result column="loan_modified_day" property="loanModifiedDay" jdbcType="TIMESTAMP" />
    <result column="loan_freeze_day" property="loanFreezeDay" jdbcType="TIMESTAMP" />
    <result column="loan_car_number" property="loanCarNumber" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="loan_middle_man" property="loanMiddleMan" jdbcType="VARCHAR" />
    <result column="loan_trustee_flag" property="trusteeFlag" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert"
	parameterType="com.creditharmony.fortune.borrow.entity.BorrowMonthable">
	insert into t_tz_borrow_monthable (credit_monable_id,
	credit_mon_id,
	loan_code,
	loan_id, loan_name, loan_idcard,
	loan_job,
	loan_product, loan_purpose,
	dict_loan_type, loan_outmoney_day,
	loan_backmoney_firday,
	loan_credit_day_usable, loan_day,
	loan_available_days,
	loan_backmoney_day, loan_month_rate,
	loan_credit_value,
	loan_availabe_value, loan_value_year,
	dict_loan_free_flag,
	dic_loan_distinguish,loan_trustee_flag,
	loan_modified_day, loan_freeze_day, loan_car_number,
	loan_middle_man,
	create_by,
	create_time, modify_by,
	modify_time)
	values
	(#{creditMonableId,jdbcType=VARCHAR}, #{creditMonId,jdbcType=VARCHAR},
	#{loanCode,jdbcType=VARCHAR},
	#{loanId,jdbcType=VARCHAR},
	#{loanName,jdbcType=VARCHAR}, #{loanIdcard,jdbcType=VARCHAR},
	#{loanJob,jdbcType=VARCHAR}, #{loanProduct,jdbcType=VARCHAR},
	#{loanPurpose,jdbcType=VARCHAR},
	#{dictLoanType,jdbcType=VARCHAR},
	#{loanOutmoneyDay,jdbcType=DATE},
	#{loanBackmoneyFirday,jdbcType=DATE},
	#{loanCreditDayUsable,jdbcType=DATE}, #{loanDay,jdbcType=INTEGER},
	#{loanAvailableDays,jdbcType=INTEGER},
	#{loanBackmoneyDay,jdbcType=DATE}, #{loanMonthRate,jdbcType=NUMERIC},
	#{loanCreditValue,jdbcType=NUMERIC},
	#{loanAvailabeValue,jdbcType=NUMERIC},
	#{loanValueYear,jdbcType=NUMERIC},
	#{dictLoanFreeFlag,jdbcType=VARCHAR},
	#{dicLoanDistinguish,jdbcType=VARCHAR},
	#{trusteeFlag,jdbcType=VARCHAR},
	#{loanModifiedDay,jdbcType=TIMESTAMP},
	#{loanFreezeDay,jdbcType=TIMESTAMP}, #{loanCarNumber,jdbcType=VARCHAR},
	#{loanMiddleMan,jdbcType=VARCHAR},
	#{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
	#{modifyBy,jdbcType=VARCHAR},
	#{modifyTime,jdbcType=TIMESTAMP})
</insert>
  <!--分页查询月满盈可用债权列表  -->
  <select id="findBorrowMonthable" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT 
	  a.credit_monable_id,
	  a.credit_mon_id,
	  a.loan_name,
	  a.loan_idcard,
	  a.loan_job,
	  a.loan_product,
	  a.loan_purpose,
	  a.dict_loan_type,
	  a.loan_backmoney_firday,
	  a.loan_credit_day_usable,
	  a.loan_day, 
	  a.loan_available_days,
	  a.loan_backmoney_day,
	  a.loan_month_rate,
	  a.loan_credit_value,
	  a.loan_availabe_value,
	  a.loan_value_year,
	  a.dic_loan_distinguish,
	  a.loan_middle_man,
	  extract(epoch from a.modify_time) as "verTime",
	  extract(epoch from b.modify_time) as "borrowMonthVerTime"
  	FROM tz.t_tz_borrow_monthable a
  	left join tz.t_tz_borrow_month b on a.credit_mon_id = b.credit_mon_id
  	<where>
 	   a.dict_loan_free_flag = #{borrowFreeFlag}
 	    AND a.loan_available_days <![CDATA[>=]]> 15
 	    <if test="creditMonableIdArray != null and creditMonableIdArray != '' ">
 	    and a.credit_monable_id in <foreach collection="creditMonableIdArray" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    	</foreach> 
 	    </if>
 	    <if test="creditMonableIdList != null and creditMonableIdList.size()>0 ">
 	    and a.credit_mon_id in <foreach collection="creditMonableIdList" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    	</foreach> 
 	    </if>
 	   <!--借款人  -->
 	 	<if test="borrowerName != null and borrowerName != '' ">
 	 	 AND a.loan_name like '%${borrowerName}%'
 	 	</if>
 	 	<!--工作  -->
 	 	<if test="borrowerJob != null and borrowerJob != '' ">
 	 	 AND a.loan_job in <foreach collection="borrowerJob" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    	</foreach> 
 	 	</if>
 	 	<!--可用金额  -->
 	 	<if test="borrowCreditValueFrom != null and borrowCreditValueFrom != '' ">
 	 	AND a.loan_availabe_value <![CDATA[>=]]>${borrowCreditValueFrom}
 	 	</if>
 	 	<if test="borrowCreditValueTo != null and borrowCreditValueTo != '' ">
 	 	AND a.loan_availabe_value <![CDATA[<=]]>${borrowCreditValueTo}
 	 	</if>
 	 	<!--可用天数  -->
 	 	<if test="borrowDaysSurplusFrom != null and borrowDaysSurplusFrom !='' ">
		AND a.loan_available_days <![CDATA[>=]]> ${borrowDaysSurplusFrom} 	 	
 	 	</if>
 	 	<if test="borrowDaysSurplusTo != null and borrowDaysSurplusTo !='' ">
		AND a.loan_available_days <![CDATA[<=]]> ${borrowDaysSurplusTo} 	 	
 	 	</if>
 	 	<!-- 债权可用日期 -->
 	 	<if test="borrowCreditDateUsableFrom != null and borrowCreditDateUsableFrom !='' ">
		<!-- AND loan_credit_day_usable <![CDATA[>=]]> #{borrowCreditDateUsableFrom} -->
		<![CDATA[ AND a.loan_credit_day_usable >=to_timestamp(#{borrowCreditDateUsableFrom},'YYYY-MM-DD')]]>	 	
 	 	</if>
 	 	<if test="borrowCreditDateUsableTo != null and borrowCreditDateUsableTo !='' ">
		<!-- AND loan_credit_day_usable <![CDATA[<=]]> #{borrowCreditDateUsableTo} 	 --> 	
		<![CDATA[ AND a.loan_credit_day_usable <=to_timestamp(#{borrowCreditDateUsableTo},'YYYY-MM-DD')]]>	 	
 	 	</if>
 	 	<!--利率  -->
 	 	<if test="borrowMonthRate != null and borrowMonthRate != '' ">
 	 	AND a.loan_month_rate = ${borrowMonthRate}
 	 	</if>
 	 	<!-- 首次还款日期 -->
 	 	<if test="borrowBackmoneyFirdayFrom !=null and borrowBackmoneyFirdayFrom != '' ">
 	 	<!-- AND loan_backmoney_firday <![CDATA[>=]]> #{borrowBackmoneyFirdayFrom} -->
 	 	<![CDATA[ AND a.loan_backmoney_firday >=to_timestamp(#{borrowBackmoneyFirdayFrom},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<if test="borrowBackmoneyFirdayTo !=null and borrowBackmoneyFirdayTo != '' ">
 	 	<!-- AND loan_backmoney_firday <![CDATA[<=]]> #{borrowBackmoneyFirdayTo} -->
 	 	<![CDATA[ AND a.loan_backmoney_firday <=to_timestamp(#{borrowBackmoneyFirdayTo},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<!-- 债权来源 -->
 	 	<if test="dictLoanType != null and dictLoanType != '' ">
 	 	AND a.dict_loan_type in <foreach collection="dictLoanType" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    	</foreach> 
 	 	</if>
 	 	<!--债权区分  -->
 	 	<if test="dicLoanDistinguish !=null and dicLoanDistinguish != '' ">
 	 	AND a.dic_loan_distinguish in <foreach collection="dicLoanDistinguish" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    	</foreach> 
 	 	</if>
 	 </where>
  	order by
  	a.loan_trustee_flag asc,
    CASE
    a.dict_loan_type
    WHEN '1'
    THEN '1' 
    WHEN '0'
    THEN '2'
    WHEN '2'
    THEN '3'
    END,
    a.loan_availabe_value desc
  </select>
  <!--导出Excel  -->
  <select id="exportExcel" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT 
	  loan_name AS loan_name,
	  loan_idcard AS loan_idcard,
	  loan_job AS loan_job,
	  loan_product AS loan_product,
	  loan_purpose AS loan_purpose,
	  dict_loan_type AS dict_loan_type,
	  loan_backmoney_firday AS loan_backmoney_firday,
	  loan_backmoney_day AS loan_backmoney_lastday,
	  loan_credit_day_usable,
	  loan_day AS loan_months, 
	  loan_available_days AS loan_months_surplus,
	  loan_month_rate,
	  loan_credit_value AS loan_quota,
	  loan_availabe_value AS loan_credit_value,
	  loan_value_year,
	  dic_loan_distinguish
  	FROM tz.t_tz_borrow_monthable
  	<include refid="tremField"/>
  </select>
  <!--查询总金额数  -->
  <select id="findAllMoney" parameterType="java.util.Map" resultType="java.math.BigDecimal">
  	SELECT 
  	SUM(cast(loan_availabe_value as numeric)) as loan_availabe_value
  	FROM tz.t_tz_borrow_monthable
  	<include refid="tremField"/>
  </select>
    <!--查询总金额数2  -->
  <select id="findAllMoney2" parameterType="java.util.Map" resultType="java.math.BigDecimal">
  	SELECT 
  	SUM(cast(loan_availabe_value as numeric)) as loan_availabe_value
  	FROM tz.t_tz_borrow_monthable
  	<include refid="tremField2"/>
  </select>
  
  <!--查询月满盈可用债权信息  -->
  <select id="borrowMonthableLook" resultType="com.creditharmony.fortune.borrow.entity.ex.BorrowMonthableLookEx" parameterType="java.util.Map">
  SELECT 
	<include refid="tremFieldJoin"/>
  FROM 
  <include refid="joinQuery"/>
  where a.credit_node= #{creditNode} and a.credit_code=#{creditCode}
  and a.dict_trade_credit_status not in 
	   	<foreach collection="dictTradeCreditStatus" index="index" item="item" open="(" separator="," close=")">
	        #{item}
	     </foreach>
  </select>
  <!--月满盈可用债权回池  -->
  <select id="getBorrowMonthableBackTool" parameterType="java.util.Map" resultType="com.creditharmony.fortune.borrow.view.BorrowMonthableBackToolView">
  	select 
  	   a.credit_monable_id AS creditMonableId,
  	   extract(epoch from a.modify_time) as "borrowMonthableVerTime", 
       a.credit_mon_id AS creditMonId,
       a.loan_availabe_value AS beforeReleaseBorrow,
       a.loan_month_rate AS beforeReleaseBorrowRate,
       b.loan_month_rate AS afterReleaseBorrowRate,
       extract(epoch from b.modify_time) as "borrowMonthVerTime" 
  	from
  	tz.t_tz_borrow_monthable a
    INNER join tz.t_tz_borrow_month b on a.credit_mon_id = b.credit_mon_id
    where a.credit_monable_id = #{creditMonableId} 
  </select>
  
  <!--获得单个月满盈可用债权信息  -->
  <select id="get" parameterType="com.creditharmony.fortune.borrow.entity.BorrowMonthable" resultMap="BaseResultMap">
  select 
  <include refid="queryField"/>
  from tz.t_tz_borrow_monthable 
  where credit_monable_id = #{creditMonableId}
  </select>
  <!--更新 -->
  <update id="update" parameterType="com.creditharmony.fortune.borrow.entity.BorrowMonthable">
  UPDATE tz.t_tz_borrow_monthable
   <set>
   <if test="loanAvailableDays != null" >
     loan_available_days = #{loanAvailableDays,jdbcType=INTEGER},
   </if>
   <if test="loanAvailabeValue != null" >
       loan_availabe_value = #{loanAvailabeValue,jdbcType=NUMERIC},
   </if>
   <if test="dictLoanFreeFlag != null" >
       dict_loan_free_flag = #{dictLoanFreeFlag,jdbcType=VARCHAR},
   </if>
   <if test="loanFreezeDay != null and loanFreezeDay != '' ">
   		loan_freeze_day = #{loanFreezeDay,jdbcType=TIMESTAMP},
   </if>
   <if test="loanModifiedDay != null and loanModifiedDay != '' ">
   		loan_modified_day = #{loanModifiedDay,jdbcType=TIMESTAMP},
   </if>
   <if test="modifyBy != null" >
       modify_by = #{modifyBy,jdbcType=VARCHAR},
   </if>
   <if test="modifyTime != null" >
       modify_time = #{modifyTime,jdbcType=TIMESTAMP}
  </if>
  </set>
  WHERE 
  1=1
  <if test="creditMonableId!=null and creditMonableId != '' ">
  	AND credit_monable_id=#{creditMonableId}
  </if>
  <if test="loanCode!=null and loanCode!= '' ">
  	AND loan_code = #{loanCode}
  </if>
  <if test="verTime!=null and verTime!=''">
  	AND extract(epoch from modify_time) = cast ( COALESCE(#{verTime},'0') as numeric)
  </if>
  </update>
  <!-- ################################################################################################## -->
 <!--三表联查月满盈可用用债权  -->
 <select id="getCreditMonableIdByJoin" resultType="java.lang.String" parameterType="java.lang.String">
	SELECT
	c.credit_monable_id
	FROM
	tz."t_tz_borrow" A LEFT JOIN tz."t_tz_borrow_month" B
	ON a.credit_value_id = b.credit_value_id LEFT JOIN
	tz."t_tz_borrow_monthable" C
	ON b.credit_mon_id = c.credit_mon_id
	where a.credit_value_id=#{creditCode}
 </select>
  <!--封装多连接查询  -->
  <sql id="joinQuery">
   tz.t_tz_creditor_trade a
   left join tz.t_tz_matching_creditor b on a.lend_code=b.lend_code
   left join tz.t_tz_loan_apply c on b.lend_code=c.lend_code
   left join tz.t_tz_customer d on c.customer_code = d.customer_code
   left join tz.t_gl_tz_product e on e.product_code = c.product_code
  </sql>
  <!--封装多连接查询 字段  -->
  <sql id="tremFieldJoin">
  	a.trade_id AS id,
	a.lend_code  AS applyCode,
	a.trade_mate_money AS tradeMateMoney,
	a.trade_mate_money_percent AS borrowPercent,
	a.trade_borrowdays_actual AS loanMonths,
	b.matching_firstday_flag AS matchingFirstdayFlag,
	c.customer_code AS customerTrue,
	c.apply_lend_money As applyLendMoney,
	d.customer_name AS customerName,
	c.apply_lend_day AS applyLendDate,
	c.apply_billday AS applyBillday,
	e.product_name AS loanProduct
  </sql>
  
  <!--封装条件字段  -->
  <sql id="tremField">
  	 	 <where>
	 	    dict_loan_free_flag = #{borrowFreeFlag}
	 	    AND loan_available_days <![CDATA[>=]]> 15
	 	    <if test="creditMonableIdArray != null and creditMonableIdArray != '' ">
	 	    and credit_monable_id in <foreach collection="creditMonableIdArray" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	    </if>
	 	    <if test="creditMonableIdList != null and creditMonableIdList.size()>0 ">
	 	    and credit_mon_id in <foreach collection="creditMonableIdList" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	    </if>
	 	   <!--借款人  -->
	 	 	<if test="borrowerName != null and borrowerName != '' ">
	 	 	 AND loan_name like '%${borrowerName}%'
	 	 	</if>
	 	 	<!--工作  -->
	 	 	<if test="borrowerJob != null and borrowerJob != '' ">
	 	 	 AND loan_job in <foreach collection="borrowerJob" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	 	</if>
	 	 	<!--可用金额  -->
	 	 	<if test="borrowCreditValueFrom != null and borrowCreditValueFrom != '' ">
	 	 	AND loan_availabe_value <![CDATA[>=]]>${borrowCreditValueFrom}
	 	 	</if>
	 	 	<if test="borrowCreditValueTo != null and borrowCreditValueTo != '' ">
	 	 	AND loan_availabe_value <![CDATA[<=]]>${borrowCreditValueTo}
	 	 	</if>
	 	 	<!--可用天数  -->
	 	 	<if test="borrowDaysSurplusFrom != null and borrowDaysSurplusFrom !='' ">
			AND loan_available_days <![CDATA[>=]]> ${borrowDaysSurplusFrom} 	 	
	 	 	</if>
	 	 	<if test="borrowDaysSurplusTo != null and borrowDaysSurplusTo !='' ">
			AND loan_available_days <![CDATA[<=]]> ${borrowDaysSurplusTo} 	 	
	 	 	</if>
	 	 	<!-- 债权可用日期 -->
	 	 	<if test="borrowCreditDateUsableFrom != null and borrowCreditDateUsableFrom !='' ">
			<!-- AND loan_credit_day_usable <![CDATA[>=]]> #{borrowCreditDateUsableFrom} -->
			<![CDATA[ AND loan_credit_day_usable >=to_timestamp(#{borrowCreditDateUsableFrom},'YYYY-MM-DD')]]>	 	
	 	 	</if>
	 	 	<if test="borrowCreditDateUsableTo != null and borrowCreditDateUsableTo !='' ">
			<!-- AND loan_credit_day_usable <![CDATA[<=]]> #{borrowCreditDateUsableTo} 	 --> 	
			<![CDATA[ AND loan_credit_day_usable <=to_timestamp(#{borrowCreditDateUsableTo},'YYYY-MM-DD')]]>	 	
	 	 	</if>
	 	 	<!--利率  -->
	 	 	<if test="borrowMonthRate != null and borrowMonthRate != '' ">
	 	 	AND loan_month_rate = ${borrowMonthRate}
	 	 	</if>
	 	 	<!-- 首次还款日期 -->
	 	 	<if test="borrowBackmoneyFirdayFrom !=null and borrowBackmoneyFirdayFrom != '' ">
	 	 	<!-- AND loan_backmoney_firday <![CDATA[>=]]> #{borrowBackmoneyFirdayFrom} -->
	 	 	<![CDATA[ AND loan_backmoney_firday >=to_timestamp(#{borrowBackmoneyFirdayFrom},'YYYY-MM-DD')]]>
	 	 	</if>
	 	 	<if test="borrowBackmoneyFirdayTo !=null and borrowBackmoneyFirdayTo != '' ">
	 	 	<!-- AND loan_backmoney_firday <![CDATA[<=]]> #{borrowBackmoneyFirdayTo} -->
	 	 	<![CDATA[ AND loan_backmoney_firday <=to_timestamp(#{borrowBackmoneyFirdayTo},'YYYY-MM-DD')]]>
	 	 	</if>
	 	 	<!-- 债权来源 -->
	 	 	<if test="dictLoanType != null and dictLoanType != '' ">
	 	 	AND dict_loan_type in <foreach collection="dictLoanType" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	 	</if>
	 	 	<!--债权区分  -->
	 	 	<if test="dicLoanDistinguish !=null and dicLoanDistinguish != '' ">
	 	 	AND dic_loan_distinguish in <foreach collection="dicLoanDistinguish" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	 	</if>
 	 </where>
  </sql>
    <!--封装条件字段2  -->
  <sql id="tremField2">
  	 	 <where>
	 	    dict_loan_free_flag = #{borrowFreeFlag}
	 	    AND loan_available_days <![CDATA[>=]]> 15
	 	    <if test="creditMonableIdList != null and creditMonableIdList.size()>0 ">
	 	    and credit_monable_id in <foreach collection="creditMonableIdList" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	    </if>
	 	   <!--借款人  -->
	 	 	<if test="borrowerName != null and borrowerName != '' ">
	 	 	 AND loan_name like '%${borrowerName}%'
	 	 	</if>
	 	 	<!--工作  -->
	 	 	<if test="borrowerJob != null and borrowerJob != '' ">
	 	 	 AND loan_job in <foreach collection="borrowerJob" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	 	</if>
	 	 	<!--可用金额  -->
	 	 	<if test="borrowCreditValueFrom != null and borrowCreditValueFrom != '' ">
	 	 	AND loan_availabe_value <![CDATA[>=]]>${borrowCreditValueFrom}
	 	 	</if>
	 	 	<if test="borrowCreditValueTo != null and borrowCreditValueTo != '' ">
	 	 	AND loan_availabe_value <![CDATA[<=]]>${borrowCreditValueTo}
	 	 	</if>
	 	 	<!--可用天数  -->
	 	 	<if test="borrowDaysSurplusFrom != null and borrowDaysSurplusFrom !='' ">
			AND loan_available_days <![CDATA[>=]]> ${borrowDaysSurplusFrom} 	 	
	 	 	</if>
	 	 	<if test="borrowDaysSurplusTo != null and borrowDaysSurplusTo !='' ">
			AND loan_available_days <![CDATA[<=]]> ${borrowDaysSurplusTo} 	 	
	 	 	</if>
	 	 	<!-- 债权可用日期 -->
	 	 	<if test="borrowCreditDateUsableFrom != null and borrowCreditDateUsableFrom !='' ">
			<!-- AND loan_credit_day_usable <![CDATA[>=]]> #{borrowCreditDateUsableFrom} -->
			<![CDATA[ AND loan_credit_day_usable >=to_timestamp(#{borrowCreditDateUsableFrom},'YYYY-MM-DD')]]>	 	
	 	 	</if>
	 	 	<if test="borrowCreditDateUsableTo != null and borrowCreditDateUsableTo !='' ">
			<!-- AND loan_credit_day_usable <![CDATA[<=]]> #{borrowCreditDateUsableTo} 	 --> 	
			<![CDATA[ AND loan_credit_day_usable <=to_timestamp(#{borrowCreditDateUsableTo},'YYYY-MM-DD')]]>	 	
	 	 	</if>
	 	 	<!--利率  -->
	 	 	<if test="borrowMonthRate != null and borrowMonthRate != '' ">
	 	 	AND loan_month_rate = ${borrowMonthRate}
	 	 	</if>
	 	 	<!-- 首次还款日期 -->
	 	 	<if test="borrowBackmoneyFirdayFrom !=null and borrowBackmoneyFirdayFrom != '' ">
	 	 	<!-- AND loan_backmoney_firday <![CDATA[>=]]> #{borrowBackmoneyFirdayFrom} -->
	 	 	<![CDATA[ AND loan_backmoney_firday >=to_timestamp(#{borrowBackmoneyFirdayFrom},'YYYY-MM-DD')]]>
	 	 	</if>
	 	 	<if test="borrowBackmoneyFirdayTo !=null and borrowBackmoneyFirdayTo != '' ">
	 	 	<!-- AND loan_backmoney_firday <![CDATA[<=]]> #{borrowBackmoneyFirdayTo} -->
	 	 	<![CDATA[ AND loan_backmoney_firday <=to_timestamp(#{borrowBackmoneyFirdayTo},'YYYY-MM-DD')]]>
	 	 	</if>
	 	 	<!-- 债权来源 -->
	 	 	<if test="dictLoanType != null and dictLoanType != '' ">
	 	 	AND dict_loan_type in <foreach collection="dictLoanType" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	 	</if>
	 	 	<!--债权区分  -->
	 	 	<if test="dicLoanDistinguish !=null and dicLoanDistinguish != '' ">
	 	 	AND dic_loan_distinguish in <foreach collection="dicLoanDistinguish" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	    	</foreach> 
	 	 	</if>
 	 </where>
  </sql>
  <!--封装查询字段  -->
  <sql id="queryField">
  credit_monable_id,
  credit_mon_id,
  loan_name,
  loan_idcard,
  loan_job,
  loan_product,
  loan_purpose,
  dict_loan_type,
  loan_backmoney_firday,
  loan_credit_day_usable,
  loan_day, 
  loan_available_days,
  loan_backmoney_day,
  loan_month_rate,
  loan_credit_value,
  loan_availabe_value,
  loan_value_year,
  dic_loan_distinguish,
  loan_middle_man,
  extract(epoch from modify_time) as "verTime"
  </sql>
  <!-- 获取满足匹配债权的月满盈数据 -->
<select id="getPpBorrowMonthable" parameterType="com.creditharmony.fortune.borrow.entity.BorrowMonthable" resultMap="BaseResultMap">
SELECT
    credit_monable_id,
    credit_mon_id,
    loan_code,
    loan_id,
    loan_name,
    loan_idcard,
    loan_job,
    loan_product,
    loan_purpose,
    dict_loan_type,
    loan_outmoney_day,
    loan_backmoney_firday,
    loan_credit_day_usable,
    loan_day,
    loan_available_days,
    loan_backmoney_day,
    loan_month_rate,
    loan_credit_value,
    loan_availabe_value,
    loan_value_year,
    dict_loan_free_flag,
    loan_modified_day,
    loan_freeze_day,
    loan_car_number,
    create_by,
    create_time,
    modify_by,
    modify_time,
    loan_middle_man,
    dic_loan_distinguish,
     extract(epoch from modify_time) as "verTime"
FROM
   t_tz_borrow_monthable
   where  loan_availabe_value <![CDATA[>]]>0
          AND loan_available_days <![CDATA[>=]]>15
       	<if test="loanMonthRate != null ">
 	     AND loan_month_rate <![CDATA[=]]> ${loanMonthRate}
 	 	</if>
         
   	<if test="dictLoanFreeFlag != null and dictLoanFreeFlag != '' ">
 	     and  dict_loan_free_flag = #{dictLoanFreeFlag}
 	 </if>
 	<if test="loanIds != null and loanIds.size()>0 ">
 	 	 AND LOAN_ID not in 
 	 	  <foreach collection="loanIds" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
 	</if>
 	<if test="oldLoadIdCard != null and oldLoadIdCard.size()>0 ">
 	 	 AND loan_idcard not in 
 	 	  <foreach collection="oldLoadIdCard" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
 	</if>
 		<if test="dictLoanTypes != null and dictLoanTypes.size()>0 ">
 	 	 AND dict_loan_type  in 
 	 	  <foreach collection="dictLoanTypes" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
 	</if>
 	<if test="dictLoanType != null ">
 	 	 AND dict_loan_type  = #{dictLoanType}
 	</if>
 	   <!--借款人  -->
 	 	<if test="loanName != null and loanName != '' ">
 	 	 AND loan_name like '%${loanName}%'
 	 	</if>
 	 	<!--工作  -->
 	 	<if test="loanJob != null and loanJob != '' ">
 	 	 AND loan_job = #{loanJob}
 	 	</if>
 	 	<!-- 债权区分 -->
 	 	<if test="dicLoanDistinguish !=null and dicLoanDistinguish != '' ">
 	 	AND dic_loan_distinguish = #{dicLoanDistinguish}   
 	 	</if>
 	 	  <if test="ppxy != null  ">
 	  	and  loan_availabe_value  &lt;= (
		case 
 	    <foreach collection="ppxy" index="key"  item="ent" separator="">
 		when dict_loan_type<![CDATA[||'-'||]]>loan_job =#{key} then to_number(#{ent})
 	 	</foreach>
 		else to_number(999999999999999.00) end)
 	 </if>
 	 <if test="ppxeMoney != null  ">
 		and  loan_availabe_value <![CDATA[>=]]> #{ppxeMoney}
 	 </if>
 	 <if test="filterLoanIdCards != null and filterLoanIdCards.size()>0">
 	  AND loan_idcard  not in
 	 <foreach collection="filterLoanCode" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
 	 </if>
 		<!-- 首次还款日期 -->
 	 	<if test="borrowBackmoneyFirday !=null and borrowBackmoneyFirday != '' ">
 	 		<![CDATA[ AND loan_backmoney_firday <=to_timestamp(#{borrowBackmoneyFirday},'YYYY-MM-DD')]]>
 	 	</if>
 	<if test="creditMonableIds != null and creditMonableIds.size()>0 ">
 	 	 AND credit_monable_id not in 
 	 	  <foreach collection="creditMonableIds" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
 	</if>
 	 order by 
 	   <if test="trusteeFlagOrderby != null and trusteeFlagOrderby != ''  ">
	 	    loan_trustee_flag ${trusteeFlagOrderby},
 	   </if>
 	  dict_loan_type  asc, loan_availabe_value asc 
</select>
  <!--查询满足条件的的月满盈可用债权池集合信息 -->
  <select id="findBorrowMonthableDetail" parameterType="com.creditharmony.fortune.borrow.view.BorrowMonthableView" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="queryField"/>
  	FROM tz.t_tz_borrow_monthable
   <where>
 	    dict_loan_free_flag = #{dictLoanFreeFlag}
 	     <if test="creditMonableIdLs != null  ">
 	 			 AND credit_monable_id not in 
	 	 	  <foreach collection="creditMonableIdLs" index="index" item="item1" open="(" separator="," close=")">
	            #{item1}
	        </foreach>
 		 </if>
 		 <if test="loanIds != null  and loanIds.size()>0">
 	 	 AND LOAN_ID not in 
 	 	  <foreach collection="loanIds" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
 		</if>
 		 <if test="oldLoadIdCard != null  and oldLoadIdCard.size()>0">
 	 	 AND loan_idcard not in 
 	 	  <foreach collection="oldLoadIdCard" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
 		</if>
 	   <!--借款人  -->
 	 	<if test="borrowerName != null and borrowerName != '' ">
 	 	 AND loan_name like '%${borrowerName}%'
 	 	</if>
 	 	<!--工作  -->
 	 	<if test="borrowerJobls != null and borrowerJobls != '' ">
 	 	 AND loan_job in <foreach collection="borrowerJobls" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    	</foreach> 
 	 	</if>
 	 	<!--可用金额  -->
 	 	<if test="borrowCreditValueFrom != null and borrowCreditValueFrom != '' ">
 	 	AND loan_availabe_value <![CDATA[>=]]>${borrowCreditValueFrom}
 	 	</if>
 	 	<if test="borrowCreditValueTo != null and borrowCreditValueTo != '' ">
 	 	AND loan_availabe_value <![CDATA[<=]]>${borrowCreditValueTo}
 	 	</if>
 	 	<!--可用天数  -->
 	 	<if test="borrowDaysSurplusFrom != null and borrowDaysSurplusFrom !='' ">
		AND loan_available_days <![CDATA[>=]]> ${borrowDaysSurplusFrom} 	 	
 	 	</if>
 	 	<if test="borrowDaysSurplusTo != null and borrowDaysSurplusTo !='' ">
		AND loan_available_days <![CDATA[<=]]> ${borrowDaysSurplusTo} 	 	
 	 	</if>
 	 	<!-- 债权可用日期 -->
 	 	<if test="borrowCreditDateUsableFrom != null and borrowCreditDateUsableFrom !='' ">
 	 		<![CDATA[ AND loan_credit_day_usable >=to_timestamp(#{borrowCreditDateUsableFrom},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<if test="borrowCreditDateUsableTo != null and borrowCreditDateUsableTo !='' ">
 	 	<![CDATA[ AND loan_credit_day_usable <=to_timestamp(#{borrowCreditDateUsableTo},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<!--利率  -->
 	 	<if test="borrowMonthRate != null  ">
 	 	AND loan_month_rate = ${borrowMonthRate}
 	 	</if>
 	 	<!-- 首次还款日期 -->
 	 	<if test="borrowBackmoneyFirdayFrom !=null and borrowBackmoneyFirdayFrom != '' ">
 	 		<![CDATA[ AND loan_backmoney_firday >=to_timestamp(#{borrowBackmoneyFirdayFrom},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<!-- 首次还款日期 -->
 	 	<if test="borrowBackmoneyFirday !=null and borrowBackmoneyFirday != '' ">
 	 		<![CDATA[ AND loan_backmoney_firday <=to_timestamp(#{borrowBackmoneyFirday},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<if test="borrowBackmoneyFirdayTo !=null and borrowBackmoneyFirdayTo != '' ">
 	 	<![CDATA[ AND loan_backmoney_firday <=to_timestamp(#{borrowBackmoneyFirdayTo},'YYYY-MM-DD')]]>
 	 	</if>
 	 	<!-- 债权来源 -->
 	 	<if test="borrowType != null and borrowType != '' ">
 	 	and dict_loan_type =#{borrowType}
 	 	</if>
 	 	<!-- 债权区分 -->
 	 	<if test="dicLoanDistinguish !=null and dicLoanDistinguish != '' ">
 	 	AND dic_loan_distinguish = #{dicLoanDistinguish}   
 	 	</if>
 	 	
 	 	 <if test="ppxy != null  ">
 	  	and  loan_availabe_value  &lt;= (
		case 
 	    <foreach collection="ppxy" index="key"  item="ent" separator="">
 		when dict_loan_type<![CDATA[||'-'||]]>loan_job =#{key} then to_number(#{ent})
 	 	</foreach>
 		else to_number(999999999999999.00) end)
 	 </if>
 	  <if test="filterLoanIdCrards != null and filterLoanIdCrards.size()>0">
 	  AND loan_idcard  not in
 	 <foreach collection="filterLoanIdCrards" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
 	 </if>
 	 <if test="loanOutmoneyDay !=null and loanOutmoneyDay != '' ">
 	 		<![CDATA[ AND loan_outmoney_day <=to_timestamp(#{loanOutmoneyDay},'YYYY-MM-DD')]]>
 	 	</if>
 	 </where>
  	order by 
  	 <if test="trusteeFlagOrderby != null and trusteeFlagOrderby != ''  ">
	 	    loan_trustee_flag ${trusteeFlagOrderby},
 	   </if>
  	dict_loan_type desc ,loan_availabe_value desc
  </select>
  <select id="getBorrowMonthablesByCreditMonableIds" resultMap="BaseResultMap" parameterType="list">
  	SELECT 
  	<include refid="queryField"/>
  	FROM tz.t_tz_borrow_monthable
  		where  credit_monable_id in 
  	 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
	#{item}
	</foreach>
  </select>
</mapper>