<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.trusteeship.dao.FyCodeDao" >
  <!-- 返回富有地区码，区市省排列 -->
  <select id="findAreaCodeBySysCode" resultType="com.creditharmony.fortune.trusteeship.entity.FyCode" parameterType="java.util.Map" >
    select 
    	area as "name",
    	fy_code as "fyCode",
    	sys_code as "sysCode"
    from t_tz_area_code
    where 1=1 and
    	(
    		sys_code = #{province,jdbcType=VARCHAR}
    		or sys_code = #{city,jdbcType=VARCHAR}
    	)
    	order by fy_code desc;
  </select>
  <select id="findBankCodeBySysCode" resultType="com.creditharmony.fortune.trusteeship.entity.FyCode" parameterType="java.util.Map" >
    select 
    	fy_bank as "name",
    	bank_code as "fyCode",
    	sys_bank_code as "sysCode"
    from t_tz_fy_bank
    where sys_bank_code = #{bankCode,jdbcType=VARCHAR}
  </select>
</mapper>