<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.deduct.dao.DeductBespokeDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dict_deduct_platform_id" property="dictDeductPlatformId" jdbcType="VARCHAR" />
    <result column="dict_deduct_rule" property="dictDeductRule" jdbcType="VARCHAR" />
    <result column="dict_deduct_status" property="dictDeductStatus" jdbcType="VARCHAR" />
    <result column="bespoke_date" property="bespokeDate" jdbcType="DATE" />
    <result column="execution_time_segment" property="executionTimeSegment" jdbcType="VARCHAR" />
    <result column="lend_code" property="lendCode" jdbcType="VARCHAR" />
    <result column="day_deduct_id" property="dayDeductId" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="INTEGER" />
    <result column="bank_no" property="bankNo" jdbcType="VARCHAR" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="collection_and_payment" property="collectionAndPayment" jdbcType="VARCHAR" />
    <result column="operation_no" property="operationNo" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="VARCHAR" />
    <result column="bespoke_deduct_money" property="bespokeDeductMoney" jdbcType="NUMERIC" />
    <result column="account_property" property="accountProperty" jdbcType="VARCHAR" />
    <result column="dict_customer_cert_type" property="dictCustomerCertType" jdbcType="VARCHAR" />
    <result column="customer_cert_num" property="customerCertNum" jdbcType="VARCHAR" />
    <result column="account_addrprovince" property="accountAddrprovince" jdbcType="VARCHAR" />
    <result column="account_addrcity" property="accountAddrcity" jdbcType="VARCHAR" />
    <result column="account_branch" property="accountBranch" jdbcType="VARCHAR" />
    <result column="customer_email" property="customerEmail" jdbcType="VARCHAR" />
    <result column="mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="foregin_id" property="foreginId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_deduct_platform_id, dict_deduct_rule, dict_deduct_status, bespoke_date, 
    execution_time_segment, lend_code, day_deduct_id, bank_id, bank_no, account_no, account_name, 
    collection_and_payment, operation_no, account_type, bespoke_deduct_money, account_property, 
    dict_customer_cert_type, customer_cert_num, account_addrprovince, account_addrcity, 
    account_branch, customer_email, mobilephone, create_by, create_time, modify_by, modify_time,foregin_id
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    select 
    <include refid="Base_Column_List" />
    from t_tz_deduct_bespoke
    <where>
	    <if test="id != null and id !='' ">
	    	and id = #{id,jdbcType=VARCHAR}
	    </if>
	    <if test="dayDeductId != null and dayDeductId !='' ">
	    	and day_deduct_id = #{dayDeductId,jdbcType=VARCHAR}
	    </if>
	    <if test="dictDeductStatus != null and dictDeductStatus !='' ">
	    	and dict_deduct_status = #{dictDeductStatus,jdbcType=VARCHAR}
	    </if>
    </where>
  </select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    select 
    <include refid="Base_Column_List" />
    from t_tz_deduct_bespoke
    <where>
    	<if test="id != null and id != ''">
    		id = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="dictDeductStatus != null and dictDeductStatus != ''">
    		dict_deduct_status = #{dictDeductStatus}
    		<![CDATA[ and bespoke_date < to_timestamp(current_date || ' 23:59:59','YYYY-MM-DD HH24:MI:SS')]]>
    	</if>
    </where>
       	<if test="dictDeductStatus != null and dictDeductStatus != ''">
    		limit 10
    	</if>
  </select>
  <!--根据分天划扣id获得要填充的预约伐扣信息  -->
  <select id="findDeductBespokeByLendCode" resultType="com.creditharmony.fortune.deduct.entity.DeductBespoke" parameterType="java.lang.String">
  	select     
   	<!-- 出借编号 -->
    b.lend_code as lendCode,
    <!--  划扣银行ID -->
   	e.account_bank as bankId,
    <!-- 银行代码 -->
    e.account_bank as bankNo,
    <!-- 账户号码 -->
    e.account_no as accountNo,
    <!-- 账户名称 -->
    e.account_name as accountName,
    <!-- 账户类型(银行卡|存折|信用卡) -->
    e.account_card_or_booklet as accountType,
    <!-- 预约划扣金额 -->
    c.apply_deduct_money as bespokeDeductMoney,
    <!-- 证件类型 -->
    d.dict_customer_cert_type as dictCustomerCertType,
    <!-- 证件号码 -->
    d.customer_cert_num as customerCertNum,
    <!-- 银行卡所在城市省 -->
    e.account_addrprovince as accountAddrprovince,
    <!-- 银行卡所在城市市 -->
    e.account_addrcity as accountAddrcity,
    <!-- 具体支行 -->
    e.account_branch as accountBranch,
    <!-- 客户邮箱 -->
    d.customer_email as customerEmail,
    <!-- 移动电话 -->
    d.customer_mobilephone as mobilephone
	from  tz."t_tz_deduct_pool" b 
	left join tz."t_tz_loan_apply" c on b.lend_code = c.lend_code
	left join tz."t_tz_customer" d on c.customer_code = d.customer_code
	left join tz."t_tz_customer_account" e on c.repay_id=e.id
	where b.lend_code = #{lendCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_tz_deduct_bespoke
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    insert into t_tz_deduct_bespoke (id, dict_deduct_platform_id, dict_deduct_rule, 
      dict_deduct_status, bespoke_date, execution_time_segment, 
      lend_code, day_deduct_id, bank_id, 
      bank_no, account_no, account_name, 
      collection_and_payment, operation_no, account_type, 
      bespoke_deduct_money, account_property, dict_customer_cert_type, 
      customer_cert_num, account_addrprovince, account_addrcity, 
      account_branch, customer_email, mobilephone, 
      create_by, create_time, modify_by, 
      modify_time,foregin_id)
    values (#{id,jdbcType=VARCHAR}, #{dictDeductPlatformId,jdbcType=VARCHAR}, #{dictDeductRule,jdbcType=VARCHAR}, 
      #{dictDeductStatus,jdbcType=VARCHAR}, #{bespokeDate,jdbcType=DATE}, #{executionTimeSegment,jdbcType=VARCHAR}, 
      #{lendCode,jdbcType=VARCHAR}, #{dayDeductId,jdbcType=VARCHAR}, #{bankId,jdbcType=INTEGER}, 
      #{bankNo,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{collectionAndPayment,jdbcType=VARCHAR}, #{operationNo,jdbcType=VARCHAR}, #{accountType,jdbcType=VARCHAR}, 
      #{bespokeDeductMoney,jdbcType=NUMERIC}, #{accountProperty,jdbcType=VARCHAR}, #{dictCustomerCertType,jdbcType=VARCHAR}, 
      #{customerCertNum,jdbcType=VARCHAR}, #{accountAddrprovince,jdbcType=VARCHAR}, #{accountAddrcity,jdbcType=VARCHAR}, 
      #{accountBranch,jdbcType=VARCHAR}, #{customerEmail,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP},#{foreginId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    insert into t_tz_deduct_bespoke
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictDeductPlatformId != null" >
        dict_deduct_platform_id,
      </if>
      <if test="dictDeductRule != null" >
        dict_deduct_rule,
      </if>
      <if test="dictDeductStatus != null" >
        dict_deduct_status,
      </if>
      <if test="bespokeDate != null" >
        bespoke_date,
      </if>
      <if test="executionTimeSegment != null" >
        execution_time_segment,
      </if>
      <if test="lendCode != null" >
        lend_code,
      </if>
      <if test="dayDeductId != null" >
        day_deduct_id,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="bankNo != null" >
        bank_no,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="collectionAndPayment != null" >
        collection_and_payment,
      </if>
      <if test="operationNo != null" >
        operation_no,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="bespokeDeductMoney != null" >
        bespoke_deduct_money,
      </if>
      <if test="accountProperty != null" >
        account_property,
      </if>
      <if test="dictCustomerCertType != null" >
        dict_customer_cert_type,
      </if>
      <if test="customerCertNum != null" >
        customer_cert_num,
      </if>
      <if test="accountAddrprovince != null" >
        account_addrprovince,
      </if>
      <if test="accountAddrcity != null" >
        account_addrcity,
      </if>
      <if test="accountBranch != null" >
        account_branch,
      </if>
      <if test="customerEmail != null" >
        customer_email,
      </if>
      <if test="mobilephone != null" >
        mobilephone,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="foreginId != null" >
        foregin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dictDeductPlatformId != null" >
        #{dictDeductPlatformId,jdbcType=VARCHAR},
      </if>
      <if test="dictDeductRule != null" >
        #{dictDeductRule,jdbcType=VARCHAR},
      </if>
      <if test="dictDeductStatus != null" >
        #{dictDeductStatus,jdbcType=VARCHAR},
      </if>
      <if test="bespokeDate != null" >
        #{bespokeDate,jdbcType=DATE},
      </if>
      <if test="executionTimeSegment != null" >
        #{executionTimeSegment,jdbcType=VARCHAR},
      </if>
      <if test="lendCode != null" >
        #{lendCode,jdbcType=VARCHAR},
      </if>
      <if test="dayDeductId != null" >
        #{dayDeductId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="collectionAndPayment != null" >
        #{collectionAndPayment,jdbcType=VARCHAR},
      </if>
      <if test="operationNo != null" >
        #{operationNo,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="bespokeDeductMoney != null" >
        #{bespokeDeductMoney,jdbcType=NUMERIC},
      </if>
      <if test="accountProperty != null" >
        #{accountProperty,jdbcType=VARCHAR},
      </if>
      <if test="dictCustomerCertType != null" >
        #{dictCustomerCertType,jdbcType=VARCHAR},
      </if>
      <if test="customerCertNum != null" >
        #{customerCertNum,jdbcType=VARCHAR},
      </if>
      <if test="accountAddrprovince != null" >
        #{accountAddrprovince,jdbcType=VARCHAR},
      </if>
      <if test="accountAddrcity != null" >
        #{accountAddrcity,jdbcType=VARCHAR},
      </if>
      <if test="accountBranch != null" >
        #{accountBranch,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null" >
        #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="foreginId != null" >
        #{foreginId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    update t_tz_deduct_bespoke
    <set >
      <if test="dictDeductPlatformId != null" >
        dict_deduct_platform_id = #{dictDeductPlatformId,jdbcType=VARCHAR},
      </if>
      <if test="dictDeductRule != null" >
        dict_deduct_rule = #{dictDeductRule,jdbcType=VARCHAR},
      </if>
      <if test="dictDeductStatus != null" >
        dict_deduct_status = #{dictDeductStatus,jdbcType=VARCHAR},
      </if>
      <if test="bespokeDate != null" >
        bespoke_date = #{bespokeDate,jdbcType=DATE},
      </if>
      <if test="executionTimeSegment != null" >
        execution_time_segment = #{executionTimeSegment,jdbcType=VARCHAR},
      </if>
      <if test="lendCode != null" >
        lend_code = #{lendCode,jdbcType=VARCHAR},
      </if>
      <if test="dayDeductId != null" >
        day_deduct_id = #{dayDeductId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankNo != null" >
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="collectionAndPayment != null" >
        collection_and_payment = #{collectionAndPayment,jdbcType=VARCHAR},
      </if>
      <if test="operationNo != null" >
        operation_no = #{operationNo,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="bespokeDeductMoney != null" >
        bespoke_deduct_money = #{bespokeDeductMoney,jdbcType=NUMERIC},
      </if>
      <if test="accountProperty != null" >
        account_property = #{accountProperty,jdbcType=VARCHAR},
      </if>
      <if test="dictCustomerCertType != null" >
        dict_customer_cert_type = #{dictCustomerCertType,jdbcType=VARCHAR},
      </if>
      <if test="customerCertNum != null" >
        customer_cert_num = #{customerCertNum,jdbcType=VARCHAR},
      </if>
      <if test="accountAddrprovince != null" >
        account_addrprovince = #{accountAddrprovince,jdbcType=VARCHAR},
      </if>
      <if test="accountAddrcity != null" >
        account_addrcity = #{accountAddrcity,jdbcType=VARCHAR},
      </if>
      <if test="accountBranch != null" >
        account_branch = #{accountBranch,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null" >
        customer_email = #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="foreginId != null" >
        foregin_id = #{foreginId,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
    	<if test="id!=null">
    		id = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="foreginId != null" >
        	and foregin_id = #{foreginId,jdbcType=VARCHAR}
        </if>
    </where>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.creditharmony.fortune.deduct.entity.DeductBespoke" >
    update t_tz_deduct_bespoke
    set dict_deduct_platform_id = #{dictDeductPlatformId,jdbcType=VARCHAR},
      dict_deduct_rule = #{dictDeductRule,jdbcType=VARCHAR},
      dict_deduct_status = #{dictDeductStatus,jdbcType=VARCHAR},
      bespoke_date = #{bespokeDate,jdbcType=DATE},
      execution_time_segment = #{executionTimeSegment,jdbcType=VARCHAR},
      lend_code = #{lendCode,jdbcType=VARCHAR},
      day_deduct_id = #{dayDeductId,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      account_no = #{accountNo,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      collection_and_payment = #{collectionAndPayment,jdbcType=VARCHAR},
      operation_no = #{operationNo,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=VARCHAR},
      bespoke_deduct_money = #{bespokeDeductMoney,jdbcType=NUMERIC},
      account_property = #{accountProperty,jdbcType=VARCHAR},
      dict_customer_cert_type = #{dictCustomerCertType,jdbcType=VARCHAR},
      customer_cert_num = #{customerCertNum,jdbcType=VARCHAR},
      account_addrprovince = #{accountAddrprovince,jdbcType=VARCHAR},
      account_addrcity = #{accountAddrcity,jdbcType=VARCHAR},
      account_branch = #{accountBranch,jdbcType=VARCHAR},
      customer_email = #{customerEmail,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
       foregin_id = #{foreginId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>