<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.verify.dao.CustomerVerifyDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.fortune.verify.entity.CustomerVerify" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="verify_type" property="verifyType" jdbcType="VARCHAR" />
    <result column="verify_pin" property="verifyPin" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, verify_type, verify_pin, create_by, create_time, modify_by, modify_time
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_tz_customer_verify
    where 1=1
    	<if test="customerId != null and customerId != ''" >
         and customer_id = #{customerId,jdbcType=VARCHAR}
      </if>
      <if test="verifyType != null and verifyType != ''" >
         and verify_type = #{verifyType,jdbcType=VARCHAR}
      </if>
      <if test="verifyPin != null and verifyPin != ''" >
         and verify_pin = #{verifyPin,jdbcType=VARCHAR}
      </if>
      order by modify_time desc
      limit 1
  </select>
  <insert id="insert" parameterType="com.creditharmony.fortune.verify.entity.CustomerVerify" >
    insert into t_tz_customer_verify (id, customer_id, verify_type, 
      verify_pin, create_by, create_time, 
      modify_by, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{verifyType,jdbcType=VARCHAR}, 
      #{verifyPin,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="com.creditharmony.fortune.verify.entity.CustomerVerify" >
    update t_tz_customer_verify
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="verifyType != null" >
        verify_type = #{verifyType,jdbcType=VARCHAR},
      </if>
      <if test="verifyPin != null" >
        verify_pin = #{verifyPin,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>