<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.redemption.common.dao.RedemptionHistoryDao" >
	<select id="findApprovalList" resultType="com.creditharmony.fortune.redemption.common.entity.ext.Redemptionex">
		SELECT 
			redep.redemption_id,
			redemption_type,
			redemption_status,
			redemption_rece_type,
			
			loan.lend_code,
			apply_lend_day,
			apply_billday,
			apply_lend_money,
			apply_pay,
			
			cust.customer_code,
			customer_name,
			
			product_name,
			
			org.name as orgName,
			
			pc1.area_name as addrProvince,
			pc2.area_name as addrCity,
			
			usr.name as userName,
			
			check_time,
			check_sp
			
		FROM 
			(
                SELECT
                    redemption_id,
                    MAX(check_time) chktm
                FROM
                    T_TZ_REDEMPTION_LOG
                WHERE
                    check_time IS NOT NULL
                GROUP BY
                    redemption_id
            ) x	
        LEFT JOIN 
        	T_TZ_REDEMPTION_LOG rlog ON rlog.check_time = x.chktm AND rlog.redemption_id = x.redemption_id 
        LEFT JOIN 
        	tz.t_tz_redemption redep ON rlog.redemption_id = redep.redemption_id 
        LEFT JOIN 
        	tz.t_tz_loan_apply loan ON loan.lend_code = redep.lend_code 
        LEFT JOIN 
        	tz.t_tz_customer cust ON cust.customer_code = loan.customer_code 
        LEFT JOIN 
        	tz.t_gl_user usr ON usr.id = loan.manager_code 
        LEFT JOIN 
        	tz.t_gl_org org ON org.id = loan.store_org_id 
        LEFT JOIN 
        	T_GL_PROVINCE_CITY pc1 ON pc1.id = org.province_id 
        LEFT JOIN 
        	T_GL_PROVINCE_CITY pc2 ON pc2.id = org.city_id 
        LEFT JOIN 
        	T_GL_TZ_PRODUCT p ON p.product_code = loan.product_code
		<where>
			rlog.create_by=#{userId}
	      	<if test="customerNameList !=null">
	      		AND
				<foreach collection="customerNameList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_name like '%${item}%'
		    	</foreach>
			</if>
	      	<if test="customerCodeList !=null">
				AND
				<foreach collection="customerCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="lendCodeList !=null">
				AND 
				<foreach collection="lendCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		loan.lend_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="productCodeList != null ">
	            AND p.product_code IN 
	            <foreach collection="productCodeList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="orgList !=null ">
				AND loan.store_org_id in
				<foreach collection="orgList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
			</if>
	      	<if test="addrCity !=null and addrCity != ''">
				AND org.province_id||'_'||org.city_id SIMILAR TO #{addrCity}
			</if>
			<if test="applyLendMoney != null and applyLendMoney != ''">
	            AND loan.apply_lend_money &gt;=	#{applyLendMoney}
	      	</if>
			<if test="applyLendMoneyTo != null and applyLendMoneyTo != ''">
	            AND loan.apply_lend_money &lt;=	#{applyLendMoneyTo}
	      	</if>
			<if test="applyExpireDay != null and applyExpireDay != ''">
	            AND loan.apply_expire_day &gt;= #{applyExpireDay}
	      	</if>
			<if test="applyExpireDayTo != null and applyExpireDayTo != ''">
	            AND loan.apply_expire_day &lt;= #{applyExpireDayTo}
	      	</if>
			<if test="checkTime != null and checkTime != ''">
	            AND rlog.check_time::DATE &gt;= #{checkTime}
	      	</if>
			<if test="checkTimeTo != null and checkTimeTo != ''">
	            AND rlog.check_time::DATE &lt;= #{checkTimeTo}
	      	</if>
			<if test="applyPayList != null ">
	            AND loan.apply_pay in 
	            <foreach collection="applyPayList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="redemptionType != null and redemptionType != ''">
	            AND redep.redemption_type = #{redemptionType}
	      	</if>
			<if test="checkSp != null and checkSp != ''">
	            AND redep.check_sp = #{checkSp}
	      	</if>
			<if test="redemptionStatusList != null ">
	            AND redep.redemption_status in 
	            <foreach collection="redemptionStatusList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
		</where>
	</select>
	
	<select id="findApplyList" resultType="com.creditharmony.fortune.redemption.common.entity.ext.Redemptionex">
		SELECT 
			redep.redemption_id,
			redemption_type,
			redemption_status,
			redemption_rece_type,
			
			loan.lend_code,
			apply_lend_day,
			apply_billday,
			apply_lend_money,
			apply_pay,
			
			cust.customer_code,
			customer_name,
			
			product_name,
			
			org.name as orgName,
			
			pc1.area_name as addrProvince,
			pc2.area_name as addrCity,
			
			usr.name as userName,
			
			check_time,
			check_sp
			
		FROM 
			(
                SELECT
                    redemption_id,
                    MAX(create_time) crttm
                FROM
                    T_TZ_REDEMPTION_LOG
                WHERE
                    create_time IS NOT NULL
                GROUP BY
                    redemption_id
            ) x 
        LEFT JOIN 
        	T_TZ_REDEMPTION_LOG rlog ON rlog.create_time = x.crttm AND rlog.redemption_id = x.redemption_id 
        LEFT JOIN 
        	tz.t_tz_redemption redep ON rlog.redemption_id = redep.redemption_id 
        LEFT JOIN 
        	tz.t_tz_loan_apply loan ON loan.lend_code = redep.lend_code 
        LEFT JOIN 
        	tz.t_tz_customer cust ON cust.customer_code = loan.customer_code 
        LEFT JOIN 
        	tz.t_gl_user usr ON usr.id = loan.manager_code 
        LEFT JOIN 
        	tz.t_gl_org org ON org.id = loan.store_org_id 
        LEFT JOIN 
        	T_GL_PROVINCE_CITY pc1 ON pc1.id = org.province_id 
        LEFT JOIN 
        	T_GL_PROVINCE_CITY pc2 ON pc2.id = org.city_id 
        LEFT JOIN 
        	T_GL_TZ_PRODUCT p ON p.product_code = loan.product_code
		<where>
			redep.create_by=#{userId}
			<if test="customerNameList !=null">
				AND
				<foreach collection="customerNameList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_name like '%${item}%'
		    	</foreach>
			</if>
	      	<if test="customerCodeList !=null">
				AND
				<foreach collection="customerCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="lendCodeList !=null">
				AND 
				<foreach collection="lendCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		loan.lend_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="productCodeList != null ">
	            AND p.product_code IN 
	            <foreach collection="productCodeList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="orgList !=null ">
				AND loan.store_org_id in
				<foreach collection="orgList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
			</if>
			<if test="addrCity !=null and addrCity != ''">
				AND org.province_id||'_'||org.city_id SIMILAR TO #{addrCity}
			</if>
			<if test="applyLendMoney != null and applyLendMoney != ''">
	            AND loan.apply_lend_money &gt;=	#{applyLendMoney}
	      	</if>
			<if test="applyLendMoneyTo != null and applyLendMoneyTo != ''">
	            AND loan.apply_lend_money &lt;=	#{applyLendMoneyTo}
	      	</if>
			<if test="applyExpireDay != null and applyExpireDay != ''">
	            AND loan.apply_expire_day &gt;= #{applyExpireDay}
	      	</if>
			<if test="applyExpireDayTo != null and applyExpireDayTo != ''">
	            AND loan.apply_expire_day &lt;= #{applyExpireDayTo}
	      	</if>
			<if test="checkTime != null and checkTime != ''">
	            AND rlog.check_time::DATE &gt;= #{checkTime}
	      	</if>
			<if test="checkTimeTo != null and checkTimeTo != ''">
	            AND rlog.check_time::DATE &lt;= #{checkTimeTo}
	      	</if>
			<if test="applyPayList != null ">
	            AND loan.apply_pay in 
	            <foreach collection="applyPayList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="redemptionType != null and redemptionType != ''">
	            AND redep.redemption_type = #{redemptionType}
	      	</if>
			<if test="checkSp != null and checkSp != ''">
	            AND redep.check_sp = #{checkSp}
	      	</if>
			<if test="redemptionStatusList != null ">
	            AND redep.redemption_status in 
	            <foreach collection="redemptionStatusList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
		</where>
	</select>
	
	<select id="findApplyCheck" resultType="com.creditharmony.fortune.redemption.common.entity.ext.Redemptionex">
		SELECT 
			redep.redemption_id,
			redemption_type,
			redemption_status,
			redemption_time,
			redemption_money,
			linit_day,
			redemption_rece_type,
			
			loan.lend_code,
			apply_lend_day,
			apply_billday,
			apply_lend_money,
			apply_pay,
			apply_agreement_edition,
			
			cust.customer_code,
			customer_name,
			
			product_name,
			
			org.name as orgName,
			
			pc1.area_name as addrProvince,
			pc2.area_name as addrCity,
			
			usr1.name as userName,
			usr2.name as teamManager,
			
			check_time,
			check_sp
			
		FROM 
			(
                SELECT
                    redemption_id,
                    MAX(create_time) crttm
                FROM
                    T_TZ_REDEMPTION_LOG
                WHERE
                    create_time IS NOT NULL
                GROUP BY
                    redemption_id
            ) x 
            LEFT JOIN 
            	T_TZ_REDEMPTION_LOG rlog ON rlog.create_time = x.crttm AND rlog.redemption_id = x.redemption_id 
            LEFT JOIN 
            	tz.t_tz_redemption redep ON rlog.redemption_id = redep.redemption_id 
            LEFT JOIN 
            	tz.t_tz_loan_apply loan ON loan.lend_code = redep.lend_code 
            LEFT JOIN 
            	tz.t_tz_customer cust ON cust.customer_code = loan.customer_code 
            LEFT JOIN 
            	tz.t_gl_user usr1 ON usr1.id = loan.manager_code 
            LEFT JOIN 
            	tz.t_gl_user usr2 ON usr2.id = loan.team_manager_code 
            LEFT JOIN 
            	tz.t_gl_org org ON org.id = loan.store_org_id 
            LEFT JOIN 
            	T_GL_PROVINCE_CITY pc1 ON pc1.id = org.province_id 
            LEFT JOIN 
            	T_GL_PROVINCE_CITY pc2 ON pc2.id = org.city_id 
            LEFT JOIN 
            	T_GL_TZ_PRODUCT p ON p.product_code = loan.product_code
		<where>
			1=1
			<if test="customerNameList !=null">
				AND
				<foreach collection="customerNameList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_name like '%${item}%'
		    	</foreach>
			</if>
	      	<if test="customerCodeList !=null">
				AND
				<foreach collection="customerCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="lendCodeList !=null">
				AND 
				<foreach collection="lendCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		loan.lend_code like '%${item}%'
		    	</foreach>
			</if>
	      	<if test="redemtptionIds != null and redemtptionIds !='' ">
  				AND redep.redemption_id in 
		    	<foreach collection="redemtptionIds" item="item" index="index" open="(" separator="," close=")">
		    			#{item}
		    	</foreach>
  			</if>
			<if test="productCodeList != null ">
	            AND p.product_code IN 
	            <foreach collection="productCodeList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="orgList !=null ">
				AND loan.store_org_id in
				<foreach collection="orgList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
			</if>
			<if test="addrCity !=null and addrCity != ''">
				AND org.province_id||'_'||org.city_id SIMILAR TO #{addrCity}
			</if>
			<if test="applyLendMoney != null and applyLendMoney != ''">
	            AND loan.apply_lend_money &gt;=	#{applyLendMoney}
	      	</if>
			<if test="applyLendMoneyTo != null and applyLendMoneyTo != ''">
	            AND loan.apply_lend_money &lt;=	#{applyLendMoneyTo}
	      	</if>
			<if test="applyExpireDay != null and applyExpireDay != ''">
	            AND loan.apply_expire_day &gt;= #{applyExpireDay}
	      	</if>
			<if test="applyExpireDayTo != null and applyExpireDayTo != ''">
	            AND loan.apply_expire_day &lt;= #{applyExpireDayTo}
	      	</if>
			<if test="checkTime != null and checkTime != ''">
	            AND rlog.check_time::DATE &gt;= #{checkTime}
	      	</if>
			<if test="checkTimeTo != null and checkTimeTo != ''">
	            AND rlog.check_time::DATE &lt;= #{checkTimeTo}
	      	</if>
			<if test="applyPayList != null ">
	            AND loan.apply_pay in 
	            <foreach collection="applyPayList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="redemptionType != null and redemptionType != ''">
	            AND redep.redemption_type = #{redemptionType}
	      	</if>
			<if test="checkSp != null and checkSp != ''">
	            AND redep.check_sp = #{checkSp}
	      	</if>
			<if test="redemptionStatusList != null ">
	            AND redep.redemption_status in 
	            <foreach collection="redemptionStatusList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
	      	${sqlMap.dataRights}
		</where>
	</select>
	
	<select id="findApprovalCheck" resultType="com.creditharmony.fortune.redemption.common.entity.ext.Redemptionex">
		SELECT 
			redep.redemption_id,
			redemption_type,
			redemption_status,
			redemption_money,
			linit_day,
			back_money_day,
			redemption_bmoney,
			redemption_demoney,
			redemption_rece_type,
			
			rlog.check_time as checkTime,
			
			loan.lend_code,
			apply_lend_day,
			apply_billday,
			apply_lend_money,
			apply_pay,
			apply_agreement_edition,
			
			cust.customer_code,
			customer_name,
			
			product_name,
			
			org.name as orgName,
			org1.name as fortuneCenter,
			
			pc1.area_name as addrProvince,
			pc2.area_name as addrCity,
			
			usr1.name as userName,
			usr2.name as teamManager,
			
			check_time,
			check_sp
			
		FROM 
			(
	        SELECT
	            redemption_id,
	            MAX(check_time) maxchk
	        FROM
	            T_TZ_REDEMPTION_LOG
	        WHERE
	            check_time IS NOT NULL
	        GROUP BY
	            redemption_id) x 
	        LEFT JOIN 
	        	T_TZ_REDEMPTION_LOG rlog ON rlog.check_time = x.maxchk AND rlog.redemption_id = x.redemption_id 
	        LEFT JOIN 
	        	tz.t_tz_redemption redep ON rlog.redemption_id = redep.redemption_id 
	        LEFT JOIN 
	        	tz.t_tz_loan_apply loan ON loan.lend_code = redep.lend_code 
	        LEFT JOIN 
	        	tz.t_tz_customer cust ON cust.customer_code = loan.customer_code 
	        LEFT JOIN 
	        	tz.t_gl_user usr1 ON usr1.id = loan.manager_code 
	        LEFT JOIN 
	        	tz.t_gl_user usr2 ON usr2.id = loan.team_manager_code 
	        LEFT JOIN 
	        	tz.t_gl_org org ON org.id = loan.store_org_id 
	        LEFT JOIN 
	        	tz.t_gl_org org1 ON org.parent_ids like '%'||org1.id||'%' and org1.type=#{orgType}
	        LEFT JOIN 
	        	T_GL_PROVINCE_CITY pc1 ON pc1.id = org.province_id 
	        LEFT JOIN 
	        	T_GL_PROVINCE_CITY pc2 ON pc2.id = org.city_id 
	        LEFT JOIN 
	        	T_GL_TZ_PRODUCT p ON p.product_code = loan.product_code
		<where>
			1=1
			<if test="customerNameList !=null">
				AND
				<foreach collection="customerNameList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_name like '%${item}%'
		    	</foreach>
			</if>
	      	<if test="customerCodeList !=null">
				AND
				<foreach collection="customerCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		cust.customer_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="lendCodeList !=null">
				AND 
				<foreach collection="lendCodeList" item="item" index="index" open="(" separator="OR" close=")">
		    		loan.lend_code like '%${item}%'
		    	</foreach>
			</if>
			<if test="productCodeList != null ">
	            AND p.product_code IN 
	            <foreach collection="productCodeList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="orgList !=null ">
				AND loan.store_org_id in
				<foreach collection="orgList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
			</if>
			<if test="redemtptionIds != null and redemtptionIds !='' ">
  				AND redep.redemption_id in 
		    	<foreach collection="redemtptionIds" item="item" index="index" open="(" separator="," close=")">
		    			#{item}
		    	</foreach>
  			</if>
			<if test="addrCity !=null and addrCity != ''">
				AND org.province_id||'_'||org.city_id SIMILAR TO #{addrCity}
			</if>
			<if test="applyLendMoney != null and applyLendMoney != ''">
	            AND loan.apply_lend_money &gt;=	#{applyLendMoney}
	      	</if>
			<if test="applyLendMoneyTo != null and applyLendMoneyTo != ''">
	            AND loan.apply_lend_money &lt;=	#{applyLendMoneyTo}
	      	</if>
			<if test="applyExpireDay != null and applyExpireDay != ''">
	            AND loan.apply_expire_day &gt;= #{applyExpireDay}
	      	</if>
			<if test="applyExpireDayTo != null and applyExpireDayTo != ''">
	            AND loan.apply_expire_day &lt;= #{applyExpireDayTo}
	      	</if>
			<if test="checkTime != null and checkTime != ''">
	            AND rlog.check_time::DATE &gt;= #{checkTime}
	      	</if>
			<if test="checkTimeTo != null and checkTimeTo != ''">
	            AND rlog.check_time::DATE &lt;= #{checkTimeTo}
	      	</if>
			<if test="applyPayList != null ">
	            AND loan.apply_pay in 
	            <foreach collection="applyPayList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
			<if test="redemptionType != null and redemptionType != ''">
	            AND redep.redemption_type = #{redemptionType}
	      	</if>
			<if test="checkSp != null and checkSp != ''">
	            AND redep.check_sp = #{checkSp}
	      	</if>
			<if test="redemptionStatusList != null ">
	            AND redep.redemption_status in 
	            <foreach collection="redemptionStatusList" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
	      	</if>
	      	${sqlMap.dataRights}
		</where>
	</select>
	
	<select id="getRedemptionByLendCode" resultType="com.creditharmony.fortune.redemption.common.view.RedemptionApplyEntity">
		SELECT 
			apply.lend_code as lendCode,
			apply_deduct_day as applyDeductDay,
			apply_lend_day as applyLendDay,
			apply_contract_no as applyContractNo,
			apply_pay as applyPay,
			apply_lend_money as applyLendMoneyd,
			apply_agreement_edition as applyAgreementEdition,
			apply_billday as applyBillday,
			
			name as department,
			
			apply.product_code as productCode,
			p.product_name as productName,
			case when apply.apply_lend_day <![CDATA[ < ]]> TO_DATE('2016-01-05','yyyy-MM-dd')  
			then  p.old_year_profit ELSE p.new_year_profit END as expectProfit,
			product_type_code as producType,
			
			apply.customer_code as customerCode,
			customer_name as customerName,
			customer_cert_num as customerCertNum,
			
			account_bank as accountBank,
			account_card_or_booklet as accountCardOrBooklet,
			
			pc1.area_name as accountAddrprovince,
			pc2.area_name as accountAddrcity,
			pc3.area_name as accountAddrdistrict,
			fpc1.area_name as faccountAddrprovince,
			fpc2.area_name as faccountAddrcity,
			fpc3.area_name as faccountAddrdistrict,
			
			account_branch as accountBranch,
			account_name as accountName,
			account_no as accountNo,
			
			red.redemption_id as redemptionId,
			red.back_money_day as backMoneyDay,
			redemption_time as redemptionTime,
			redemption_type as redemptionType,
			redemption_money as redemptionMoney,
			residual_amount as residualAmount,
			redemption_demoney as redemptionDeMoney,
			redemption_rece_type as redemptionReceType,
			linit_day as linitDay, 
			feedback, 
			feedback_money, 
       		feedback_remark,
			check_sp as checkSp,
			check_spmoney as checkSpmoney,
			check_spremarks as checkSpremarks,
			
			rlog.apply_id as applyId,
			rlog.check_examinetype as checkExaminetype,
			rlog.check_examine as checkExamine
			
		FROM
			tz.t_tz_loan_apply apply
		LEFT JOIN
			tz.t_gl_tz_product p ON p.product_code=apply.product_code
		LEFT JOIN
			tz.t_tz_customer cust ON cust.customer_code=apply.customer_code
		LEFT JOIN
			tz.t_tz_customer_account account ON apply.receiving_id=account.id
		LEFT JOIN
			t_gl_province_city pc1 ON pc1.id=account.account_addrprovince
		LEFT JOIN
			t_gl_province_city pc2 ON pc2.id=account.account_addrcity
		LEFT JOIN
			t_gl_province_city pc3 ON pc3.id=account.account_addrdistrict
		LEFT JOIN
			t_tz_fy_area_code fpc1 ON fpc1.area_code=account.account_addrprovince
		LEFT JOIN
			t_tz_fy_area_code fpc2 ON fpc2.area_code=account.account_addrcity
		LEFT JOIN
			t_tz_fy_area_code fpc3 ON fpc3.area_code=account.account_addrdistrict
		LEFT JOIN
			tz.t_tz_redemption red ON red.lend_code=apply.lend_code
		LEFT JOIN
			t_gl_org org ON org.id=apply.store_org_id
		LEFT JOIN
			t_tz_redemption_log rlog ON rlog.redemption_id=red.redemption_id
		INNER JOIN 
			(SELECT apply_id, MAX(create_time) crttm 
		FROM t_tz_redemption_log 
			GROUP BY apply_id) x ON rlog.create_time=x.crttm  AND rlog.apply_id=x.apply_id
		WHERE
			apply.lend_code=#{lendCode}
	</select>
	
</mapper>