/*弹出提示*/
.success_pop{ width:480px; height:200px; border: 4px solid rgba(153,153,153,.5); border-radius:3px; padding-bottom:10px;  background-color:#FFF; position: absolute;top: 110px;left:350px;z-index: 1986;}
.cancel_pop{ width:480px; height:200px; border: 4px solid rgba(153,153,153,.5); border-radius:3px; padding-bottom:10px;  background-color:#FFF; position: absolute;top: 110px;left:350px;z-index: 1986;}
.title_Bar{ width:457px; height:35px; line-height:35px; margin:5px; background-color:#eaeaea; padding-left:13px; font-size:14px; color:#8a8888;}
.prompt_Bar{ width:100%;height:82px; margin-top:43px;}
.prompt_Bar_left{ width:170px; height:82px; float:left; text-align:right;}
.prompt_Bar_right{ width:280px; float:left; height:82px; padding-right:10px; line-height:35px; font-size:16px; color:#8a8888; padding-left:8px;}
.btn_pop{ text-align:center;}
.btn_pop a.Sure_btn{ width:70px; height:26px; margin:0px 3px; line-height:26px; text-align:center; display:inline-block; border-radius:3px; color:#FFF;
background-color: #3c8de9; cursor:pointer;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4795f7),to(#3c8de9));
background-image: -webkit-linear-gradient(top,#4795f7,#3c8de9);
background-image: -moz-linear-gradient(top,#4795f7,#3c8de9);
background-image: -ms-linear-gradient(top,#4795f7,#3c8de9);
background-image: -o-linear-gradient(top,#4795f7,#3c8de9);
background-image: linear-gradient(top,#4795f7,#3c8de9);
filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr="#4795f7",EndColorStr="#3c8de9");}
.btn_pop a.Sure_btn:active{cursor:pointer; margin:0px 3px;color:#fff;background-color:#4695f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#3886e4),to(#4695f6));background-image:-webkit-linear-gradient(top,#3886e4,#4695f6);background-image:-moz-linear-gradient(top,#3886e4,#4695f6);background-image:-ms-linear-gradient(top,#3886e4,#4695f6);background-image:-o-linear-gradient(top,#3886e4,#4695f6);background-image:linear-gradient(top,#3886e4,#4695f6);filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr="#3886e4",EndColorStr="#4695f6")}
.btn_pop a.Cancel_btn{ width:70px; height:26px; margin:0px 3px; line-height:26px; text-align:center; text-shadow: 0 1px 1px rgba(255,255,255,0.75);display:inline-block; border-radius:3px; color:#333;
background-color: #fff; cursor:pointer;
background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(top,#fff,#e6e6e6);
filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr="#fff",EndColorStr="#e6e6e6");}
.btn_pop a.Cancel_btn:active{ margin:0px 3px; cursor:pointer;color:#333;text-shadow: 0 1px 1px rgba(255,255,255,0.75);background-color:#4695f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#cfcfcf),to(#fff));background-image:-webkit-linear-gradient(top,#cfcfcf,#fff);background-image:-moz-linear-gradient(top,#cfcfcf,#fff);background-image:-ms-linear-gradient(top,#cfcfcf,#fff);background-image:-o-linear-gradient(top,#cfcfcf,#fff);background-image:linear-gradient(top,#cfcfcf,#fff);filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr="#cfcfcf",EndColorStr="#fff")}

/*404*/
.error_page{ width:100%; min-height:120px; height:auto!important; height:120px; background-color:#f4f4f4; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; margin-top:180px;}
.error_content{ width:540px; height:auto; margin:0 auto; text-align:left; padding:20px 0px;}
.error_content h1{border-bottom: none;font-weight: 400;color: rgba(0,0,0,.5);font-size: 22px;line-height: 28px;margin-bottom: 22px;}
.error_content h1 span{ font-size:36px;font-family:Arial, Helvetica, sans-serif}
.inside_BAR{ margin-bottom:20px; line-height:28px; font-size:14px;color: rgba(0,0,0,.5); letter-spacing:1px;}
.inside_BAR a{ color:#08c;font-size:14px;}


/*弹出内容*/
.layer-wrapper{ width:100%; position:relative;}
.search-lay button{cursor:pointer;}
.table-list td{ height:30px;}
.table-list td label{ width:100px; text-align:right; display:inline-block;}
.table-list td textarea{ vertical-align:middle}
.table-list td input[type=text]{line-height:15px; padding:2px;}
.page-lay{ position:absolute; bottom:0px; width:100%; height:25px; line-height:25px;}
/* .grid-header{height:auto; padding:0px 10px 30px;  } */
/* .grid-header tr th{ padding:5px; background: #F0F5F7;
background: -moz-linear-gradient(top, #F0F5F7 0%, #DFE4E6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F5F7), color-stop(100%,#DFE4E6));
background: -webkit-linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
background: -o-linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
background: -ms-linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
background: linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F5F7', endColorstr='#DFE4E6',GradientType=0 );
border-bottom: 1px solid #B6CAD2;}  */
.grid-header tr td{ /*border-bottom:1px dotted #CCC; */height:28px;}
.success_pop,.cancel_pop{ margin:80px auto 0px;}
.cboxOverlay_alert{ z-index:1;opacity:0.5;visibility: visible; width:100%; height:100%; background-color:#fff; position:fixed;}

/* 弹出内容 */
.height892{ height:892px;}
.layer-wrapper{height:auto;}
.layer-wrapper table{border-collapse:collapse;}
.layer-wrapper table th{background: #F0F5F7;
background: -moz-linear-gradient(top, #F0F5F7 0%, #DFE4E6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F5F7), color-stop(100%,#DFE4E6));
background: -webkit-linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
background: -o-linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
background: -ms-linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
background: linear-gradient(top, #F0F5F7 0%,#DFE4E6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F5F7', endColorstr='#DFE4E6',GradientType=0 );
border-bottom: 1px solid #B6CAD2;}
.layer-wrapper h1{height: 39px;line-height: 39px;background-color: #EDF6FA;border-bottom: 1px solid #D7E4EA;font-size: 14px;font-weight:bolder;padding-left: 11px;}
.heightauto{height:auto!important;}

.Unity_btn{width:30%; height:30px; position:fixed; bottom:0px; right:24px; border-top: 1px solid #D7E4EA;} 
.Unity_btn ul{ float:right;}
.Unity_btn ul li{ float:left; margin-left:5px; display:inline;}
.Unity_btn ul li button{ cursor:pointer;}

.Unity_btn_zx{width:30%; height:30px; position:fixed; bottom:0px; right:0px; border-top: 1px solid #D7E4EA;} 
.Unity_btn_zx ul{ float:right;}
.Unity_btn_zx ul li{ float:left; margin-left:5px; display:inline;}
.Unity_btn_zx ul li button{ cursor:pointer;}
/*错误页面*/
.error_page_most{ width:100%; height:auto;}
.error_images{ width:100%; height:366px; background:url(../images/error_bg.png) repeat-x;}
.sorry_images{ width:723px; height:176px; margin:0 auto; padding-top:64px;}
.error_text{ margin:0px 100px;height:auto;}
.error_text p{ line-height:36px; color:#1b94c8; font-size:24px; font-family:'黑体'; margin-top:36px; text-align:center;}
.error_text ul{ margin-top:30px; padding-left:50px; list-style:none;}
.error_text ul li{ height:34px; line-height:34px; background:url(../images/codeflecha.png) 0px 8px no-repeat;}
.error_text ul li a{ padding-left:34px; font-size:14px; color:#5d6061; font-weight:bold;}
.error_text ul li a:hover{ color:#3eafe0;}


/*弹出层样式*/
.X_layer{ width:100%; height:auto;}
.X_layer_content{ height:36px; line-height:36px; background-color:#357db1;}
.X_layer_content span{ font-size:13px; color:#FFF; padding-left:12px;}
.X_input{ width:100%; height:auto}
.X_box{ border-left:1px solid #8eabc6; border-right:1px solid #8eabc6;}
.X_box table.X_Tab{border-bottom:1px solid #8eabc6; border-top:1px solid #b4c4d2;}
.X_box table td label{ width:90px; height:35px; border-bottom:1px solid #FFF; background:#e5edf2; display:inline-block; line-height:35px; text-align:left; padding-left:30px; font-size:12px; color:#343333; font-family:'宋体';}
.X_box table td input{ width:135px; height:22px; line-height:22px;  margin-left:11px;}
.X_box table td input[type=radio]{ width:13px; height:22px; line-height:22px;  margin-left:11px;}
.X_box table td input[type=checkbox]{ width:13px; height:22px; line-height:22px;  margin-left:11px;}
.X_box table td select{width:135px; height:22px; margin-left:11px;}
.X_btn{ width:100%; margin:9px 0px 7px 0px; }
.X_btn input.btn_submit{width:67px; height:27px; line-height:27px; background:url(../images/X_pop.png) no-repeat; display:block; margin:0 auto; text-align:center; font-size:14px; color:#FFF; text-decoration:none; border:none; cursor:pointer; font-weight:bold;}
.X_btn a{width:67px; height:27px; line-height:27px; background:url(../images/X_pop.png) no-repeat; display:block; margin:0 auto; text-align:center; font-size:14px; color:#FFF; text-decoration:none;}
.X_table{ width:100%;}
.X_table table td{ border-left:1px solid #b4c4d2; border-right:1px solid #ffffff;}
.X_tablefom tr th{ height:29px; border-bottom:1px solid #83a1bd; background-color:#d3e2e9; border-top:1px solid #FFF; text-align:center; line-height:29px;}
.X_tablefom td{ height:27px; line-height:27px; text-align:left; padding-left:20px;}
.X_pages{ width:100%;25px; text-align:right; margin-top:24px;}
.X_pages a{ padding:3px 8px; background:url(../images/X_pagebg.png) repeat-x; border:1px solid #92a1b0; display:inline-block; color:#6f7072; text-decoration:none; border-radius:3px;}
.X_pages a.X_mt{ padding-bottom:0px;}
.X_pages a img{ vertical-align:middle}

/*错误页面*/
body,div,ul,li{ margin:0; padding:0;}
.X_error{ width:100%; height:100%; background:url(../images/X_error.jpg) repeat-x;background-color:#e2e6e9;}
.X_main{ width:553px; height:225px; background:url(../images/X_errorimg.png) no-repeat; margin:108px auto 0px;}
.X_sorry_text{width:513px; margin:0 auto; padding-left:40px;}
.X_sorry_text ul{ margin:0; padding:0; list-style:none;}
.X_sorry_text ul li{ line-height:25px; overflow:hidden; color:#666666; font-size:12px; font-family:'宋体';}
.X_back{ margin-top:18px;}
.X_back a.X_defaultback{ width:95px; display:inline-block; color:#0a578d; font-size:18px; font-family:'微软雅黑'; background:url(../images/X_error_icon1.png) center right no-repeat; margin-right:42px; text-decoration:none  }
.X_back a.X_historyback{ width:112px; display:inline-block; color:#ff6f2a; font-size:18px; font-family:'微软雅黑'; background:url(../images/X_error_icon2.png) center right no-repeat; text-decoration:none  }