<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.delivery.dao.CustomerDeliveryHistoryDao" >

  <select id="findList" resultType="com.creditharmony.fortune.delivery.entity.ext.DeliveryEx">
        select 
             d.del_id as "delId",
             d.dict_del_type as "delType",
             cust.customer_name as "custName",
             d.customer_code as "custCode",
             d.lend_code as "applyCode",
             d.del_date as "delDate",
             d.dict_del_status as "dictDelStatus",
             u.user_code as "modifyBy",
             u.name as "modifyByName",
             temp.fManagerCode as "fManagerCode",
             temp.fManagerName as "fManagerName",
             temp.teamManagerCode as "teamManagerCode",
             temp.teamManagerName as "teamManagerName",
             temp.orgName as "orgName",
             temp2.nfManagerCode as "nfManagerCode",
             temp2.nfManagerName as "nfManagerName",
             temp2.nTeamManagerCode as "nTeamManagerCode",
             temp2.nTeamManagerName as "nTeamManagerName",
             temp2.nOrgName as "nOrgName",
             temp2.nOrgId
        from tz.t_tz_delivery d
        left join tz.t_tz_customer cust on cust.customer_code = d.customer_code
        left join tz.t_gl_user u on u.id = d.modify_by and u.del_flag = '0'
        left join (
				    select
				        uro.user_id,
				        u.id as fManagerId,
				        u.login_name as loginName,
				        u.name as fManagerName,
				        u.user_code as fManagerCode,
				        u1.name as teamManagerName,
				        u1.user_code as teamManagerCode,
				        org_ogl.name as teamName,
				        org.name as orgName,
		                org.id as orgId
				    from tz.t_gl_user_role_org uro
				    left join tz.t_gl_user u on u.id = uro.user_id and u.del_flag = '0'
				    inner join t_gl_org org_ogl on org_ogl.id = uro.org_id and org_ogl.del_flag='0'
				    left join  tz.t_gl_org org on ','||org_ogl.parent_ids like '%,'||org.id||',%'
				    and org.type = #{orgType} and org.del_flag = '0'
				    left join tz.t_gl_user_role_org uro2 on uro.org_id = uro2.org_id and uro2.role_id = #{teamManagerRole}
				    left join tz.t_gl_user u1 on u1.id = uro2.user_id and u1.del_flag = '0'
			        where
					    uro.role_id = #{managerRole}
		          )temp on temp.user_id = d.fmanager_code
        left join (
				    select
				        uro.user_id,
				        u.id as nfManagerId,
				        u.login_name as loginName,
				        u.name as nfManagerName,
				        u.user_code as nfManagerCode,
				        u1.name as nTeamManagerName,
				        u1.user_code as nTeamManagerCode,
				        org_ogl.name as teamName,
				        org.name as nOrgName,
		                org.id as nOrgId
				    from tz.t_gl_user_role_org uro
				    left join tz.t_gl_user u on u.id = uro.user_id and u.del_flag = '0'
				    inner join t_gl_org org_ogl on org_ogl.id = uro.org_id and org_ogl.del_flag='0'
				    left join  tz.t_gl_org org on ','||org_ogl.parent_ids like '%,'||org.id||',%'
				    and org.type = #{orgType} and org.del_flag = '0'
				    left join tz.t_gl_user_role_org uro2 on uro.org_id = uro2.org_id and uro2.role_id = #{teamManagerRole}
				    left join tz.t_gl_user u1 on u1.id = uro2.user_id and u1.del_flag = '0'
			        where
					    uro.role_id = #{managerRole}
		           )temp2 on temp2.user_id = d.nfmanager_code
       <where>
          <if test="delType != null and delType != ''">
	            and d.dict_del_type = #{delType}
	      </if>
	      <if test="dictDelStatus != null and dictDelStatus != ''">
	            and d.dict_del_status = #{dictDelStatus}
	      </if>
          <if test="custName != null and custName != ''">
	            and	cust.customer_name LIKE '%'||#{custName}||'%'
	      </if>
	      <if test="custCode != null and custCode != ''">
	            and	 d.customer_code LIKE '%'||#{custCode}||'%'
	      </if>
	      <if test="nfManagerCode != null and nfManagerCode != ''">
	            and	temp2.nfManagerCode LIKE '%'||#{nfManagerCode}||'%'
	      </if>
	      <if test="nfManagerName != null and nfManagerName != ''">
	            and	 nfManagerName LIKE '%'||#{nfManagerName}||'%'
	      </if>
	      <if test="modifyBy != null and modifyBy != ''">
	            and	u.user_code LIKE '%'||#{modifyBy}||'%'
	      </if>
	      <if test="modifyByName != null and modifyByName != ''">
	            and	u.name LIKE '%'||#{modifyByName}||'%'
	      </if>
	      <if test="startTime != null and startTime != '' and endTime != null and endTime != '' ">
                and d.del_date &gt;= #{startTime}  
                and d.del_date &lt;= #{endTime}
          </if>
          <if test="orgId != null and orgId != ''">
                and  temp2.nOrgId in 
                <foreach collection="orgId" item="item"  index="index" open="(" separator="," close=")">  
                     '${item}' 
                </foreach>
          </if>
       </where>
  </select>
</mapper>