<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.customer.workflow.dao.LendApplyLogDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="lend_code" property="lendCode" jdbcType="VARCHAR" />
    <result column="dict_apply_status" property="dictApplyStatus" jdbcType="VARCHAR" />
    <result column="check_examine" property="checkExamine" jdbcType="VARCHAR" />
    <result column="check_examinetype" property="checkExaminetype" jdbcType="VARCHAR" />
    <result column="check_by_id" property="checkById" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="apply_by" property="applyBy" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="wrong_type" property="errorTypeId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, apply_id, lend_code, dict_apply_status, check_examine, check_examinetype, check_by_id, 
    check_time, apply_by, apply_time, create_by, create_time, modify_by, modify_time,wrong_type
  </sql>
  
  <select id="get" resultMap="BaseResultMap" parameterType="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" >
    select 
    <include refid="Base_Column_List" />
    from tz.t_tz_apply_log
    <where>
    	<if test="id != null and id != ''">
    		id = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="applyId != null and applyId != ''">
    		apply_id = #{applyId,jdbcType=VARCHAR}
    	</if>
    	<if test="lendCode != null and lendCode != ''">
    		lend_code = #{lendCode,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tz.t_tz_apply_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" >
    insert into tz.t_tz_apply_log (id, apply_id, lend_code, 
      dict_apply_status, check_examine, check_examinetype, 
      check_by_id, check_time, apply_by, 
      apply_time, create_by, create_time, 
      modify_by, modify_time,wrong_type)
    values (#{id,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, #{lendCode,jdbcType=VARCHAR}, 
      #{dictApplyStatus,jdbcType=VARCHAR}, #{checkExamine,jdbcType=VARCHAR}, #{checkExaminetype,jdbcType=VARCHAR}, 
      #{checkById,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{applyBy,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},#{errorTypeId,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" >
    insert into tz.t_tz_apply_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="lendCode != null" >
        lend_code,
      </if>
      <if test="dictApplyStatus != null" >
        dict_apply_status,
      </if>
      <if test="checkExamine != null" >
        check_examine,
      </if>
      <if test="checkExaminetype != null" >
        check_examinetype,
      </if>
      <if test="checkById != null" >
        check_by_id,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="applyBy != null" >
        apply_by,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="lendCode != null" >
        #{lendCode,jdbcType=VARCHAR},
      </if>
      <if test="dictApplyStatus != null" >
        #{dictApplyStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkExamine != null" >
        #{checkExamine,jdbcType=VARCHAR},
      </if>
      <if test="checkExaminetype != null" >
        #{checkExaminetype,jdbcType=VARCHAR},
      </if>
      <if test="checkById != null" >
        #{checkById,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyBy != null" >
        #{applyBy,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" >
    update tz.t_tz_apply_log
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="lendCode != null" >
        lend_code = #{lendCode,jdbcType=VARCHAR},
      </if>
      <if test="dictApplyStatus != null" >
        dict_apply_status = #{dictApplyStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkExamine != null" >
        check_examine = #{checkExamine,jdbcType=VARCHAR},
      </if>
      <if test="checkExaminetype != null" >
        check_examinetype = #{checkExaminetype,jdbcType=VARCHAR},
      </if>
      <if test="checkById != null" >
        check_by_id = #{checkById,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyBy != null" >
        apply_by = #{applyBy,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="update" parameterType="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" >
    update tz.t_tz_apply_log
    set apply_id = #{applyId,jdbcType=VARCHAR},
      lend_code = #{lendCode,jdbcType=VARCHAR},
      dict_apply_status = #{dictApplyStatus,jdbcType=VARCHAR},
      check_examine = #{checkExamine,jdbcType=VARCHAR},
      check_examinetype = #{checkExaminetype,jdbcType=VARCHAR},
      check_by_id = #{checkById,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      apply_by = #{applyBy,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
    <where>
    	<if test="id != null and id != ''">
    		id = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="applyId != null and applyId != ''">
    		apply_id = #{applyId,jdbcType=VARCHAR}
    	</if>
    	<if test="lendCode != null and lendCode != ''">
    		lend_code = #{lendCode,jdbcType=VARCHAR}
    	</if>
    </where>
  </update>
  
  <select id="findList" parameterType="com.creditharmony.fortune.customer.workflow.entity.LendApplyLog" resultMap="BaseResultMap">
  	  select 
	    <include refid="Base_Column_List" />
	  from tz.t_tz_apply_log
	  <where>
  	      <if test="id != null and id != ''">
  	      	  id = #{id}
  	      </if>
  	      <if test="applyId != null and applyId != ''">
  	      	  and apply_id = #{applyId}
  	      </if>
  	      <if test="lendCode != null and lendCode != ''">
  	      	  and lend_code = #{lendCode}
  	      </if>
  	  </where>
  	  order by create_time desc
  </select>
  
  <update id="updateLendCode">
  	   update tz.t_tz_apply_log set lend_code=#{newLendCode} where lend_code=#{oldLendCode}
  </update>
  
</mapper>