<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.teleSale.dao.TeleOperationDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.fortune.teleSale.entity.TeleOperation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="old_manager_id" property="oldManagerId" jdbcType="VARCHAR" />
    <result column="new_manager_id" property="newManagerId" jdbcType="VARCHAR" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, old_manager_id, new_manager_id, operator_id, operation_type, create_time, 
    create_by, modify_by, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_tz_tele_operation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_tz_tele_operation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!--新增  -->
  <insert id="insert" parameterType="com.creditharmony.fortune.teleSale.entity.TeleOperation" >
    insert into t_tz_tele_operation (id, customer_id, old_manager_id, 
      new_manager_id, operator_id, operation_type, 
      create_time, create_by, modify_by, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{oldManagerId,jdbcType=VARCHAR}, 
      #{newManagerId,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.creditharmony.fortune.teleSale.entity.TeleOperation" >
    insert into t_tz_tele_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="oldManagerId != null" >
        old_manager_id,
      </if>
      <if test="newManagerId != null" >
        new_manager_id,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="oldManagerId != null" >
        #{oldManagerId,jdbcType=VARCHAR},
      </if>
      <if test="newManagerId != null" >
        #{newManagerId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditharmony.fortune.teleSale.entity.TeleOperation" >
    update t_tz_tele_operation
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="oldManagerId != null" >
        old_manager_id = #{oldManagerId,jdbcType=VARCHAR},
      </if>
      <if test="newManagerId != null" >
        new_manager_id = #{newManagerId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creditharmony.fortune.teleSale.entity.TeleOperation" >
    update t_tz_tele_operation
    set customer_id = #{customerId,jdbcType=VARCHAR},
      old_manager_id = #{oldManagerId,jdbcType=VARCHAR},
      new_manager_id = #{newManagerId,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      operation_type = #{operationType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>