<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditharmony.fortune.change.lend.apply.dao.LendChangeDao">

     <!-- 出借信息字段 -->
     <sql id="lendChangeColumns">
       tc.customer_name custName,
       ta.customer_code custCode,
       ta.lend_code applyCode,
       gpp.id addrProvince,
       gpc.id addrCity,
       ta.manager_code managerId,
       tcu.name managerName,
       tc.apply_hosted_status applyHostedState,
       ta.lend_status applyState,
       tc.DICT_customer_STATE custState,
       tc.DICT_customer_SOURCE dictCustSource,
       ta.CREATE_TIME createTime,
       tc.trusteeship_no  trusteeshipNo,
       team.name as "teamName",
       org.name as "departmentName",
       teamUser.name as "teamManagerName"
     </sql>
     
     <!-- 出借信息2 -->
     <sql id="lendInfoColumns">
       tc.customer_name custName,
       tc.customer_code custCode,
       tc.customer_mobilephone custMobilephone,
       ta.lend_code applyCode,
       ta.apply_day applyDate,
       ta.apply_deduct_day applyDeductDate,
       ta.apply_lend_day applyLendDate,
       ta.apply_pay applyPay,
       ta.apply_agreement_edition applyAgreemenEdition,
       ta.apply_lend_money applyLendMoney,
       tgp.PRODUCT_name productName,
       ta.APPLY_CONTRACT_NO applyContractNo,
       ta.APPLY_SALES_DISCOUNT applySalesDiscount,
       ta.manager_code managerId,
       tcu.name managerName,
       gpp.id addrProvince,
       gpc.id addrCity,
       tc.apply_hosted_status applyHostedState,
       tc.DICT_customer_STATE custState,
       tc.DICT_customer_SOURCE dictCustSource,
       ta.CREATE_TIME createTime,
       ta.lend_status applyState,
       ta.repay_id repayId,
       ta.receiving_id receivingId,
       tc.trusteeship_no  trusteeshipNo, 
       tc.customer_cert_num custCertNum,
       tc.dict_customer_cert_type as custCertType,
       org.id as "departmentName",
       team.id as "teamName",
       teamUser.name as "teamManagerName"
     </sql>
     <!-- 出借人账户信息 -->
     <sql id="lenderAccountColumns">
        
        tca.id id,
        tca.ACCOUNT_BANK accountBankId,
        tca.account_branch accountBranch,
        tca.ACCOUNT_ADDRPROVINCE accountAddrProvince,
        tca.ACCOUNT_ADDRCITY accountAddrCity,
        tca.ACCOUNT_ADDRDISTRICT accountAddrDistrict,
        tca.ACCOUNT_CARD_OR_BOOKLET accountCardOrBooklet,
        tca.ACCOUNT_NAME accountName,
        tca.ACCOUNT_NO accountNo,
        tca.bank_code bankCode,
        tca.find_flag findFlag     
     </sql>
     
     <!--变更表字段 -->
	<sql id="getLendChangeInfos">
		 ce.change_id changeId,
		 ce.change_begin changeBegin,
		 ce.change_after changeAfter,
		 ce.apply_id     applyId,
		 ce.change_type dictChangeType,
		 ce.change_code changeCode
	</sql>
     
     <!-- 出借信息关联2 -->
     <sql id="lendInfoJoins">
        left join t_tz_customer tc on tc.customer_code=ta.customer_code<!-- 客户表信息 -->
        left join t_gl_tz_product tgp on tgp.product_code=ta.product_code <!-- 出借产品 -->
        left join t_gl_org org on org.id = ta.store_org_id<!-- 门店 --> 
        left join t_gl_org team on team.id = ta.team_org_id<!-- 团队 --> 
        left join t_gl_province_city gpp on gpp.id = org.province_id
        left join t_gl_province_city gpc on gpc.id = org.city_id
        left join t_gl_user tcu on tcu.id = ta.manager_code<!-- 理财经理 -->
        left join t_gl_user teamUser on teamUser.id = ta.team_manager_code<!-- 团队经理 -->
     </sql>
      
      
     <!-- 出借信息关联 --> 
     <sql id="lendChangeJoins">
         left join t_gl_user tcu on tcu.id = ta.manager_code<!-- 理财经理 -->
         left join t_tz_customer tc on tc.customer_code = ta.customer_code<!-- 客户表信息 -->
         left join t_gl_user teamUser on teamUser.id = tc.team_manager_code<!-- 团队经理 -->
         left join T_GL_ORG org on org.id = ta.store_org_id <!-- 门店 --> 
         left join T_GL_ORG team on team.id = ta.team_org_id <!-- 团队 --> 
         left join t_gl_province_city gpp on gpp.id = org.province_id
         left join t_gl_province_city gpc on gpc.id = org.city_id
     </sql>

     <!-- 根据出借编号查询所有出借信息 -->
     <select id="findList" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApplyEx">
        SELECT 
			<include refid="lendChangeColumns"/>
		FROM t_tz_loan_apply ta
			<include refid="lendChangeJoins"/>
			<!-- left join t_tz_back_money_pool tmp on tmp.lend_code=ta.lend_code -->   <!-- 作废回款状态 -->
     <where>
				
                <!-- (tmp.dict_back_status='1' or tmp.dict_back_status='8') -->         <!-- 作废回款状态 -->
				and ta.lend_status=#{applyState} <!-- 出借申请状态为审批通过,划扣状态为成功 -->
				and (ta.dict_apply_end_state !=#{dictApplyEndState} or ta.dict_apply_end_state is NULL)<!-- 完结状态为未完结 -->
				<!--
				and (
					(not exists( select t1.change_code from t_tz_changer t1 where ta.lend_code=t1.change_code and t1.change_type !='3')) 
					or 
                	(select t2.dict_change_state from t_tz_changer t2 where ta.lend_code=t2.change_code and t2.change_type !='3' order by modify_time desc limit 0,1)=#{dictChangeState}
                ) 
                -->     
                <!-- 状态为并没有在变更初审或复审或打回列表中 -->
			<if test="custName != null and custName != ''">
				AND tc.customer_name LIKE '%'||#{custName}||'%'<!-- 姓名 -->
			</if>
			<if test="addId != null and addId != ''">
				AND org.PROVINCE_ID||'_'||org.CITY_ID SIMILAR TO '%'|| replace(#{addId},',','%|%')|| '%' <!-- 城市 -->
			</if>
			
			<if test="custCode != null and custCode != ''">
				AND ta.customer_code LIKE '%'||#{custCode}||'%'<!-- 客户编码 -->
			</if>
			<if test="custState != null and custState != ''">
				AND tc.dict_customer_state LIKE '%'||#{custState}||'%'<!-- 客户状态 -->
			</if>
			<if test="custMobilephone != null and custMobilephone != ''">
				AND tc.customer_mobilephone LIKE '%'||#{custMobilephone}||'%'<!-- 联系电话 -->
			</if>
			<if test="managerName != null and managerName != ''">
				AND tcu.name =#{managerName}<!-- 理财经理 -->
			</if>
			<if test="orgCode != null and orgCode != ''">
				AND ta.store_org_id LIKE '%'||#{orgCode}||'%'<!-- 营业部 -->
			</if>
			<if test="applyHostedState != null and applyHostedState != ''">
				AND tc.apply_hosted_status LIKE '%'||#{applyHostedState}||'%'<!-- 托管状态 -->
			</if>
			<!-- <if test="managerId != null and managerId != ''">
	    	    and ta.manager_code = #{managerId}
	        </if> -->
	         ${sqlMap.dataRights}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY ta.modify_time DESC
			</otherwise>
		</choose>
		 </select>
		 
		<!-- 根据出借编号查询所有出借信息. 根据出借申请变更银行卡号控制变更节点需求修改 16-08-30 -->
	  	<select id="findList2" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApplyEx">
	        select distinct * from (
	        SELECT 
				tc.customer_name custName,
	            ta.customer_code custCode,
	            ta.lend_code applyCode,
	            gpp.id addrProvince,
	            gpc.id addrCity,
	            ta.manager_code managerId,
	            tcu.name managerName,
	            tc.apply_hosted_status applyHostedState,
	            ta.lend_status applyState,
	            tc.DICT_customer_STATE custState,
	            tc.DICT_customer_SOURCE dictCustSource,
	            ta.CREATE_TIME createTime,
	            tc.trusteeship_no  trusteeshipNo,
	            team.name as "teamName",
	            org.name as "departmentName",
	            teamUser.name as "teamManagerName"			
			FROM t_tz_loan_apply ta
			  left join t_gl_user tcu on tcu.id = ta.manager_code<!-- 理财经理 -->
	          left join t_tz_customer tc on tc.customer_code = ta.customer_code<!-- 客户表信息 -->
	          left join t_gl_user teamUser on teamUser.id = tc.team_manager_code<!-- 团队经理 -->
	          left join T_GL_ORG org on org.id = ta.store_org_id <!-- 门店 --> 
	          left join T_GL_ORG team on team.id = ta.team_org_id <!-- 团队 --> 
	          left join t_gl_province_city gpp on gpp.id = org.province_id
	          left join t_gl_province_city gpc on gpc.id = org.city_id			
			  left join t_tz_back_money_pool bmp on bmp.lend_code= ta.lend_code
	          left join t_tz_back_interest_pool bip on bip.lend_code= ta.lend_code
				
				<!-- left join t_tz_back_money_pool tmp on tmp.lend_code=ta.lend_code -->   <!-- 作废回款状态 -->
	        <where>
					
	            <!-- (tmp.dict_back_status='1' or tmp.dict_back_status='8') -->         <!-- 作废回款状态 -->
				and ta.lend_status=#{applyState} <!-- 出借申请状态为审批通过,划扣状态为成功 -->
			
			    <!---'3':待回款审批, '4':待回款, '6':待回款确认,  '7':已回款 -->
	            and ( bmp.dict_back_status not in ( '3','4','6','7') or bmp.dict_back_status is null or bmp.dict_back_status ='')
	            <!---'8':待回息审批, '9':待回息,'11':待回息确认 -->
	            and ( bip.back_money_status not in ( '8','9','11') or bip.back_money_status is null or bip.back_money_status ='')
		
				and (ta.dict_apply_end_state !=#{dictApplyEndState} or ta.dict_apply_end_state is NULL)<!-- 完结状态为未完结 -->
				<!--
				  and (
					(not exists( select t1.change_code from t_tz_changer t1 where ta.lend_code=t1.change_code and t1.change_type !='3')) 
					or 
	                (select t2.dict_change_state from t_tz_changer t2 where ta.lend_code=t2.change_code and t2.change_type !='3' order by modify_time desc limit 0,1)=#{dictChangeState}
	              ) 
	             -->     
	            <!-- 状态为并没有在变更初审或复审或打回列表中 -->
				<if test="custName != null and custName != ''">
					AND tc.customer_name LIKE '%'||#{custName}||'%'<!-- 姓名 -->
				</if>
				<if test="addId != null and addId != ''">
					AND org.PROVINCE_ID||'_'||org.CITY_ID SIMILAR TO '%'|| replace(#{addId},',','%|%')|| '%' <!-- 城市 -->
				</if>
				
				<if test="custCode != null and custCode != ''">
					AND ta.customer_code LIKE '%'||#{custCode}||'%'<!-- 客户编码 -->
				</if>
				<if test="custState != null and custState != ''">
					AND tc.dict_customer_state LIKE '%'||#{custState}||'%'<!-- 客户状态 -->
				</if>
				<if test="custMobilephone != null and custMobilephone != ''">
					AND tc.customer_mobilephone LIKE '%'||#{custMobilephone}||'%'<!-- 联系电话 -->
				</if>
				<if test="managerName != null and managerName != ''">
					AND tcu.name =#{managerName}<!-- 理财经理 -->
				</if>
				<if test="orgCode != null and orgCode != ''">
					AND ta.store_org_id LIKE '%'||#{orgCode}||'%'<!-- 营业部 -->
				</if>
				<if test="applyHostedState != null and applyHostedState != ''">
					AND tc.apply_hosted_status LIKE '%'||#{applyHostedState}||'%'<!-- 托管状态 -->
				</if>
				<!-- <if test="managerId != null and managerId != ''">
		    	    and ta.manager_code = #{managerId}
		        </if> -->
		         ${sqlMap.dataRights}
			</where>
			<choose>
				<when test="page !=null and page.orderBy != null and page.orderBy != ''">
					ORDER BY ${page.orderBy}
				</when>
				<otherwise>
					ORDER BY ta.modify_time DESC
				</otherwise>
			</choose>
			)
		 </select>
		 
		 <!-- 根据出借编号查询出借信息 -->
		 <select id="getLoanApplyInfo" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApply">
		      SELECT ta.apply_billday billDay,ta.product_code productCode,
			<include refid="lendInfoColumns"/>
		FROM t_tz_loan_apply ta
			<include refid="lendInfoJoins"/>
		    <where>
		      ta.lend_code = #{applyCode}
		    </where>
		 </select>
		 
		 <!-- 根据出借编号查询出借人付款账户信息 -->
		 <select id="getCustomerPayAccount" resultType="com.creditharmony.fortune.customer.entity.CustomerAccount">
		      SELECT 
			<include refid="lenderAccountColumns"/>
		FROM (select * from t_tz_customer_account where is_del = '0') tca
		left join t_tz_loan_apply ta on ta.repay_id = tca.id
		<!-- left join t_tz_loan_apply taa on taa.receiving_id = tca.id -->
		    <where>
		     ta.lend_code = #{applyCode}
		   <!--  or taa.lend_code = #{applyCode} -->
		    </where>
		 </select>
		 
		 <!-- 根据出借编号查询出借人收款账户信息 -->
		 <select id="getCustomerReyAccount" resultType="com.creditharmony.fortune.customer.entity.CustomerAccount">
		      SELECT 
			<include refid="lenderAccountColumns"/>
		FROM (select * from t_tz_customer_account where is_del = '0') tca
		 left join t_tz_loan_apply taa on taa.receiving_id = tca.id 
		    <where>
          taa.lend_code = #{applyCode}
		    </where>
		 </select>
		 <!-- 根据申请ID获取申请变更信息 -->		 
	<select id="getLendChangeInfo" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendChangeInfo">
		SELECT 	
		<include refid="getLendChangeInfos"/>
	FROM tz.t_tz_changer ce	
		<where>		
	AND ce.apply_id =#{applyId}
		</where>
    </select>
    
    <!-- 根据出借编号查询出借人账户信息 (变更前回款银行)-->
		 <select id="getCustomerAccountbefore" resultType="com.creditharmony.fortune.customer.entity.CustomerAccount">
		      SELECT 
			<include refid="lenderAccountColumns"/>
			FROM 
			 t_tz_loan_apply taa
			left join (select * from t_tz_customer_account where is_del = '0') tca  on taa.receiving_id = tca.id
		    <where>
		      taa.lend_code = #{applyCode}
		      and taa.receiving_id is not null
		    </where>
		 </select>
		 
		 <!--保存变更信息 -->
	<insert id="saveLendChangeInfo">
		INSERT INTO tz.t_tz_changer
		  (
		   change_id,
		   change_type,
		   dict_change_state,
		   change_code,
		   change_begin,
		   change_after,
		   apply_id,
		   create_time,
		   create_by,
		   modify_by,
		   modify_time
		  )
		VALUES
		  ( #{id},#{dictChangeType},#{dictChangeState}, #{changeCode}, #{changeBegin}, #{changeAfter},#{applyId},#{createTime},#{createBy},#{modifyBy},#{modifyTime});

	</insert>
	
	<!--修改变更信息 -->
	<update id="updateChangeInfo">
	UPDATE tz.t_tz_changer SET 
		change_after=#{changeAfter},
		dict_change_state=#{dictChangeState},
		modify_by=#{modifyBy},
		modify_time=#{modifyTime}
	WHERE 
	    change_id=#{changeId}
	
	</update>
	
	<!--保存审批信息 -->
	<insert id="saveApproveInfo">
		INSERT INTO tz.t_tz_changer_log
		  (
		   change_id,
		   id,
		   check_examine, 
		   dict_check_examinetype,
		   check_by_id,
		   apply_id,
		   create_time,
		   create_by,
		   modify_by,
		   modify_time,
		   dict_change_state
		  )
		VALUES
		  ( #{changeId}, #{id},#{auditCheckExamine}, #{auditResult},#{modifyBy},#{applyId},#{createTime},#{createBy},#{modifyBy},#{modifyTime},#{dictChangeState});


	</insert>
	<!-- 根据申请ID获取审批记录表门店经理审批记录 -->
	<select id="getLendChangeLog"  resultType="com.creditharmony.fortune.change.lend.apply.entity.LendChangeLog">
	    SELECT 
			check_examine auditCheckExamine, 
            dict_check_examinetype auditResult
		FROM t_tz_changer_log tcl
		    <where>
		      tcl.apply_id = #{applyId}
		      and tcl.dict_change_state = #{dictChangeState}
		      <if test="auditResult != null and auditResult != ''">
			 AND tcl.dict_check_examinetype =#{auditResult}
			</if>  
		      order by tcl.create_time desc
		      limit 0,1
		    </where>    
	</select>
	<!-- 根据申请ID获取业务专员复审记录 -->
	<select id="getApproveInfoList" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendChangeLog">
		
		SELECT 
			check_examine auditCheckExamine , 
			dict_check_examinetype auditResult
  		FROM tz.t_tz_changer_log tcl
		<where>		
		   AND tcl.apply_id =#{applyId}
		   and tcl.dict_change_state = #{dictChangeState}
		   <if test="auditResult != null and auditResult != ''">
			AND tcl.dict_check_examinetype =#{auditResult}
			</if>
		   order by create_time desc
		</where>
	</select>
	<!-- 更新出借人账户信息 -->
	<update id="updateCustomerAccount">
           INSERT INTO tz.t_tz_customer_account(
               id,
               customer_code,
               account_bank,
               account_branch,
               account_addrprovince,
               account_addrcity,
               account_addrdistrict,
               account_card_or_booklet,
               account_name,
               account_no,
               bank_code,
               find_flag,
               create_by,
               create_time,
               modify_by,
               modify_time
           )VALUES
		( #{id},
		  #{customerCode}, 
		  #{accountBankId}, 
		  #{accountBranch},
		  #{accountAddrProvince}, 
		  #{accountAddrCity},
		  #{accountAddrDistrict},
		  #{accountCardOrBooklet},
		  #{accountName},
		  #{accountNo},
		  #{bankCode},
		  #{findFlag},
		  #{createBy},
		  #{createTime},
		  #{modifyBy},
		  #{modifyTime} )
	</update>
	
	
	<!-- 更新出借申请银行账户id -->
	<update id="updateLoanApplyAccount">
	
	    UPDATE tz.t_tz_loan_apply
	  		SET 
	       modify_time=#{modifyTime},
	       modify_by=#{modifyBy},
	       receiving_id=#{receivingId}
		   WHERE lend_code=#{applyCode}
	</update>
	
	<!-- 资金托管跟改银行-->
	<update id="updateZjAccount">
	
	    UPDATE tz.t_tz_loan_apply
	  		SET 
	       modify_time=#{modifyTime},
	       modify_by=#{modifyBy},
	       receiving_id=#{receivingId},
	       repay_id=#{receivingId}
	       where
		   receiving_id=#{receivingIdAfter}
	</update>
	
	<!-- 更新客户金账户银行账户id -->
	<update id="updateTrusteeshipCard">
	    UPDATE tz.t_tz_customer
	  		SET 
	       modify_time=#{modifyTime},
	       modify_by=#{modifyBy},
	       trusteeship_account_id=#{trusteeshipAccountId}
		   WHERE customer_code=#{custCode}
	</update>
	
	<!--获取变更历史客户账户信息(已办)-->
	<select id="getLendChangeFinish" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApply">
	
	   SELECT distinct cer.apply_id applyId,
	   dict.label as dictChangeState,
         tc.customer_name custName,
       ta.customer_code custCode,
       ta.lend_code applyCode,
       gpp.id addrProvince,
       gpc.id addrCity,
       ta.manager_code managerId,
       tcu.name managerName,
       tc.apply_hosted_status applyHostedState,
       ta.lend_status applyState,
       tc.DICT_customer_STATE custState,
       tc.DICT_customer_SOURCE dictCustSource,
       cer.CREATE_TIME createTime,
       tc.trusteeship_no  trusteeshipNo,
       team.name as "teamName",
       teamUser.name as "teamManagerName",
       org.name as "departmentName"
      FROM t_tz_changer cer
      left join t_tz_changer_log log on cer.change_id=log.change_id
      left join t_tz_loan_apply ta on ta.lend_code=cer.change_code
      left join t_gl_dict dict on dict.value=cer.dict_change_state and dict.type='tz_lenderchg_state' 
	    <include refid="lendChangeJoins"/>
		
		<where>	
		 <!--申请人登入获取已办 -->
			(( 
			 cer.create_by=#{createBy} )

			or
			<!--门店、业务对接员获取已办 -->
			(log.check_by_id=#{createBy}))<!-- createBy 当前登入人 -->

			and (cer.change_type= #{dictChangeType} or cer.change_type= #{accountType})<!-- change_type 变更类型 -->
			
		    <if test="custName != null and custName != ''">
				AND tc.customer_name LIKE '%'||#{custName}||'%'<!-- 姓名 -->
			</if>
			<if test="addId != null and addId != ''">
				AND org.PROVINCE_ID||'_'||org.CITY_ID SIMILAR TO '%'|| replace(#{addId},',','%|%')|| '%' <!-- 城市 -->
			</if>
			
			<if test="custCode != null and custCode != ''">
				AND ta.customer_code LIKE '%'||#{custCode}||'%'<!-- 客户编码 -->
			</if>
			<if test="custState != null and custState != ''">
				AND tc.dict_customer_state LIKE '%'||#{custState}||'%'<!-- 客户状态 -->
			</if>
			<if test="custMobilephone != null and custMobilephone != ''">
				AND tc.customer_mobilephone LIKE '%'||#{custMobilephone}||'%'<!-- 联系电话 -->
			</if>
			<if test="managerName != null and managerName != ''">
				AND tcu.name = #{managerName}<!-- 理财经理 -->
			</if>
			<if test="orgIds !=null and orgIds.size() > 0 ">
		 	AND ta.store_org_id in 
		 	<foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">  
	            '${item}'   <!-- 营业部 -->
            </foreach> 
		 	</if>
			<if test="applyHostedState != null and applyHostedState != ''">
				AND tc.apply_hosted_status LIKE '%'||#{applyHostedState}||'%'<!-- 托管状态 -->
			</if>
		</where>
	</select>
	<!-- 查询出借信息 -->
	<select id="queryList" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApply">
	
	   SELECT distinct  cer.apply_id applyId,cer.dict_change_state dictChangeState,cer.modify_time dictApprovalStartDate,
         tc.customer_name custName,
       ta.customer_code custCode,
       ta.lend_code applyCode,
       gpp.id addrProvince,
       gpc.id addrCity,
       ta.manager_code managerId,
       tcu.name managerName,
       tc.apply_hosted_status applyHostedState,
       ta.lend_status applyState,
       tc.DICT_customer_STATE custState,
       tc.DICT_customer_SOURCE dictCustSource,
       cer.CREATE_TIME createTime,
       tc.trusteeship_no  trusteeshipNo,
       tcu.id as managerId,
       team.name as "teamName",
       teamUser.name as "teamManagerName",
       org.name as "departmentName"
      FROM t_tz_changer cer
      left join t_tz_changer_log log on log.change_id=cer.change_id
      left join t_tz_loan_apply ta on ta.lend_code=cer.change_code
	    <include refid="lendChangeJoins"/>
		
		<where>	       
            <!-- 查询信息 -->
			and (cer.change_type= #{dictChangeType}<!-- change_type 变更类型 -->
			 or cer.change_type= #{accountType})
		    <if test="custName != null and custName != ''">
				AND tc.customer_name LIKE '%'||#{custName}||'%'<!-- 姓名 -->
			</if>
			<if test="addId != null and addId != ''">
				AND org.PROVINCE_ID||'_'||org.CITY_ID SIMILAR TO '%'|| replace(#{addId},',','%|%')|| '%' <!-- 城市 -->
			</if>
			
			<if test="custCode != null and custCode != ''">
				AND ta.customer_code LIKE '%'||#{custCode}||'%'<!-- 客户编码 -->
			</if>
			<if test="custState != null and custState != ''">
				AND tc.dict_customer_state LIKE '%'||#{custState}||'%'<!-- 客户状态 -->
			</if>
			<if test="custMobilephone != null and custMobilephone != ''">
				AND tc.customer_mobilephone LIKE '%'||#{custMobilephone}||'%'<!-- 联系电话 -->
			</if>
			<if test="managerName != null and managerName != ''">
				AND tcu.name = #{managerName}<!-- 理财经理 -->
			</if>
			<if test="orgIds !=null and orgIds.size() > 0 ">
		 	AND ta.store_org_id in 
		 	<foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">  
	            '${item}'   <!-- 营业部 -->
            </foreach> 
		 	</if>
			<if test="applyHostedState != null and applyHostedState != ''">
				AND tc.apply_hosted_status LIKE '%'||#{applyHostedState}||'%'<!-- 托管状态 -->
			</if>
			<if test="dictChangeState != null and dictChangeState != ''">
				AND cer.dict_change_state = #{dictChangeState} <!-- 变更状态 -->
			</if>
			<if test="dictApprovalStartDate != null and dictApprovalStartDate !='' ">
  				and cer.modify_time::DATE <![CDATA[>=]]> #{dictApprovalStartDate}   <!-- 审核通过初始日期 -->
  			</if>
  			<if test="dictApprovalEndDate != null and dictApprovalEndDate !='' ">
  				and cer.modify_time::DATE <![CDATA[<=]]> #{dictApprovalEndDate}   <!-- 审核通过结束日期 -->
  			</if>
  			<if test="lendCode != null and lendCode != ''">
				AND ta.lend_code LIKE '%'||#{lendCode}||'%'<!-- 出借编号 -->
			</if>
  			${sqlMap.dataRights}
		</where>
	</select>
	
	<!--根据出借CODE获取变更历史客户账户信息-->
	<select id="getLendChangeHistory" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApply">
	
	   SELECT cer.apply_id applyId,
	   		  cer.create_time flowStartTime,
         <include refid="lendChangeColumns"/>
      FROM t_tz_changer cer
      left join t_tz_loan_apply ta on ta.lend_code=cer.change_code
	    <include refid="lendChangeJoins"/>
		
		<where>	
		 (cer.change_type= #{changeType}
		 or cer.change_type= #{accountType})
		 and change_code=#{applyCode}
		 and dict_change_state = #{dictChangeState}
		</where>
	</select>
	<!-- 更新变更状态 -->
	<update id="updateChangeState">
	
	    UPDATE tz.t_tz_changer set
	        dict_change_state=#{dictChangeState},
	        modify_by=#{modifyBy}, 
	        modify_time=#{modifyTime}
        WHERE
            change_id=#{id}  and
            change_type=#{dictChangeType}
	</update>
	
	<select id="getChangeInfoById" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendChangeInfo">

  SELECT 
        change_begin, 
        change_after,
        dict_change_state, 
        modify_time, 
        modify_by,
        change_type dictChangeType,
        apply_id applyId
  FROM t_tz_changer
		<where>
            change_id=#{changeId}
		</where>
	</select>
	<!--根据客户编号查询最新的出借编号 -->
	<select id="getLendByCustCode" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApply">

	  SELECT 
	       lend_code applyCode
	   FROM t_tz_loan_apply
		<where>
             customer_code=#{custCode}
             and  apply_pay='4'
             order by apply_day desc
		     limit 0,1
		</where>
	</select>
	<!--根据客户编号查询除去付款银行和回款银行 -->
	<!-- <select id="getAccountInfoByCustCode" resultType="com.creditharmony.fortune.change.lend.entity.ext.CustomerAccountEx">

  SELECT id id, 
         tca.customer_code customerCode, 
         tca.account_bank accountBankId, 
         tca.account_branch accountBranch, 
         tca.account_addrprovince accountAddrProvince, 
         tca.account_addrcity accountAddrCity, 
         tca.account_addrdistrict accountAddrDistrict, 
         tca.account_card_or_booklet accountCardOrBooklet, 
         tca.account_name accountName, 
         tca.account_no accountNo, 
         tca.create_by createBy, 
         tca.create_time createTime, 
         tca.modify_by modifyBy, 
         tca.modify_time modifyTime
FROM t_tz_customer_account tca
		<where>
            tca.customer_code=#{custCode} and (id!=#{repayId} and id!=#{receivingId})
		</where>
	</select> -->
	
	<!-- 查询出借导出列表信息 -->
	<select id="queryExport" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanExSearch">
	
	   SELECT  distinct 
	   cer.apply_id applyId,
	   cer.dict_change_state dictChangeState,
	   cer.modify_time dictApprovalStartDate,
	   tc.customer_name custName,
       cer.change_code applyCode,
       ta.apply_lend_day applyLendDate,
       ta.apply_lend_money applyLendMoney,
       tgp.PRODUCT_name productName,
       ta.apply_billday applyBillday,
       cer.change_begin lendBegin,
       cer.change_after lendAfter,
       tcu.name managerName,
       org.name departmentName
      FROM t_tz_changer cer
      left join t_tz_loan_apply ta on ta.lend_code=cer.change_code
      left join t_gl_tz_product tgp on tgp.product_code=ta.product_code
      left join t_tz_customer tc on tc.customer_code = ta.customer_code<!-- 客户表信息 -->
      left join t_gl_user tcu on tcu.id = tc.manager_code<!-- 理财经理 -->
      left join T_GL_ORG org on org.id = tc.org_code <!-- 门店 --> 
		
		<where>	       
            <!-- 查询信息 -->
			and (cer.change_type= #{dictChangeType}
			or cer.change_type= #{accountType})<!-- change_type 变更类型 -->
			
		    <if test="custName != null and custName != ''">
				AND tc.customer_name LIKE '%'||#{custName}||'%'<!-- 姓名 -->
			</if>
			<if test="applyIds != null and applyIds.size() > 0 ">
  				AND cer.apply_id in 
		    	<foreach collection="applyIds" item="item" index="index" open="(" separator="," close=")">
		    			'${item}'
		    	</foreach>
  			</if>
			<if test="addId != null and addId != ''">
				AND org.PROVINCE_ID||'_'||org.CITY_ID SIMILAR TO '%'|| replace(#{addId},',','%|%')|| '%' <!-- 城市 -->
			</if>
			
			<if test="custCode != null and custCode != ''">
				AND ta.customer_code LIKE '%'||#{custCode}||'%'<!-- 客户编码 -->
			</if>
			<if test="custState != null and custState != ''">
				AND tc.dict_customer_state LIKE '%'||#{custState}||'%'<!-- 客户状态 -->
			</if>
			<if test="custMobilephone != null and custMobilephone != ''">
				AND tc.customer_mobilephone LIKE '%'||#{custMobilephone}||'%'<!-- 联系电话 -->
			</if>
			<if test="managerName != null and managerName != ''">
				AND tcu.name = #{managerName}<!-- 理财经理 -->
			</if>
			<if test="orgIds !=null and orgIds.size() > 0 ">
		 	AND ta.store_org_id in 
		 	<foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">  
	            '${item}'   <!-- 营业部 -->
            </foreach> 
		 	</if>
			<if test="applyHostedState != null and applyHostedState != ''">
				AND tc.apply_hosted_status LIKE '%'||#{applyHostedState}||'%'<!-- 托管状态 -->
			</if>
			<if test="dictChangeState != null and dictChangeState != ''">
				AND cer.dict_change_state = #{dictChangeState} <!-- 变更状态 -->
			</if>
			<if test="dictApprovalStartDate != null and dictApprovalStartDate !='' ">
  				and cer.modify_time::DATE <![CDATA[>=]]> #{dictApprovalStartDate}   <!-- 审核通过初始日期 -->
  			</if>
  			<if test="dictApprovalEndDate != null and dictApprovalEndDate !='' ">
  				and cer.modify_time::DATE <![CDATA[<=]]> #{dictApprovalEndDate}   <!-- 审核通过结束日期 -->
  			</if>
  			<if test="lendCode != null and lendCode != ''">
				AND ta.lend_code LIKE '%'||#{lendCode}||'%'<!-- 出借编号 -->
			</if>
  			${sqlMap.dataRights}
		</where>
	</select>
	
	<!--根据出借编号查询回款状态与出借状态 -->
	<select id="backMoneyStatus" resultType="com.creditharmony.fortune.change.lend.apply.entity.LendLoanApplyEx">
		 SELECT t.lend_code as applyCode, t.lend_status as applyState,t1.dict_back_status as backStatus
		 FROM t_tz_loan_apply t left join t_tz_back_money_pool t1 on t.lend_code=t1.lend_code 
		<where>
           t.lend_code=#{applyCode}
		</where>
	</select>
</mapper>