<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.back.money.common.dao.ThirdPlatformDao" >
	<select id="findAllList" resultType="com.creditharmony.fortune.back.money.common.entity.ThirdPlatform">
		SELECT
			*
		FROM
			t_tz_platform
	</select>
	
	<select id="getIdByBankCode" resultType="string">
		SELECT
			bank
		FROM
			t_tz_platform
		where
			bank_code=#{bankCode}
	</select>
	
	<select id="get" parameterType="com.creditharmony.fortune.back.money.common.entity.ThirdPlatform" resultType="com.creditharmony.fortune.back.money.common.entity.ThirdPlatform">
		SELECT
			*
		FROM
			t_tz_platform
		<where>
			<if test="id != null and id != ''">
				id=#{id}
			</if>
			<if test="platformId != null and platformId != ''">
				AND platform_id=#{platformId}
			</if>
		</where>
	</select>
</mapper>