<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.fortune.delivery.dao.TripleCustomerDeliveryDao">
<select id="findList" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
    select 
        p.id,
        p.customer_code as "customerCode",
        p.login_name as "loginName",
        p.emp_code as "empCode",
        p.phone as "phone",
        p.os_type as "osType",
        ic.order_status as "orderStatus",
        ic.card_type as "cardType",
        ic.card_id as "cardId",
        temp1.create_time as "delDate",
        temp.empName as"empName",
        temp.orgName as "orgName",
        extract(epoch from p.modify_time) as "verTime"
    from tz.int_phone p
    left join tz.int_phone_card ipc on ipc.phone = p.phone
    left join tz.int_card ic on ic.card_id = ipc.card_id
    left join (
                 SELECT 
                        d.phone,
                        max(d.create_time) as create_time
                  FROM tz.int_delivery d where d.delivery_type in ('1','2','3','4','8')
                  group by phone
                     ) temp1 on temp1.phone = p.phone
     left join (
                       select
					   uro.user_id,
					   u.id as empId,
					   u.login_name as loginName,
					   u.name as empName,
					   u.user_code as empCode,
					   org_ogl.name as teamName,
					   org.name as orgName,
					   org.id as orgId
				   from tz.t_gl_user_role_org uro
				   left join tz.t_gl_user u on u.id = uro.user_id 
				   left join tz.t_gl_org org_ogl on org_ogl.id = uro.org_id 
				   left join  tz.t_gl_org org on ','||org_ogl.parent_ids like '%,'||org.id||',%'
		             and org.type = #{orgType}
		          where
		               uro.role_id = #{managerRole}
		 ) temp on temp.empCode =  p.emp_code
     <where>
          <if test="customerCode != null and customerCode != ''">
               p.customer_code = #{customerCode,jdbcType=VARCHAR}
         </if>
         <if test="loginName != null and loginName != ''">
              and p.login_name = #{loginName,jdbcType=VARCHAR}
         </if>
         <if test="empCode != null and empCode != ''">
               and p.emp_code = #{empCode,jdbcType=VARCHAR}
         </if>
         <if test="empName != null and empName != ''">
               and temp.empName like '%' || #{empName} || '%'
         </if>
         <if test="phoneList != null">
               and p.phone in 
               <foreach collection="phoneList" item="item"  index="index" open="(" separator="," close=")">  
                    '${item}' 
               </foreach>
          </if>
         <if test="orgIdList != null">
               and temp.orgId in 
               <foreach collection="orgIdList" item="item"  index="index" open="(" separator="," close=")">  
                    '${item}' 
               </foreach>
          </if>
          <if test="phone != null and phone != ''">
              and p.phone = #{phone,jdbcType=VARCHAR}
          </if>
          <if test="osTypeList != null and osTypeList != ''">
              and p.os_type in 
              <foreach collection="osTypeList" item="item"  index="index" open="(" separator="," close=")">  
                   '${item}' 
              </foreach>
          </if>
     </where>
</select>

<!-- 根据客户姓名查询手机号 -->
<select id="findPhoneListByName" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
      select 
          p.phone as "phone"
      from tz.int_phone p
      <where>
          <if test="loginName != null and loginName != ''">
              p.login_name = #{loginName,jdbcType=VARCHAR}
          </if>
      </where>
</select>
<!--根据手机号查询id  -->
<select id="findIdByPhone" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
    select 
		p.id as "id",
		p.login_name as "loginName", 
		p.phone as "phone", 
	    p.os_type as "osType", 
		p.emp_code as "empCode",
		p.os_type as "osType",
		p.os_id as "osId",
		p.customer_code as "customerCode"
	from tz.int_phone p
	left join tz.int_phone_card pc on pc.phone = p.phone
	left join tz.int_card c on c.card_id = pc.card_id
	<where>
	        p.phone = #{phone,jdbcType=VARCHAR}
	    <if test="orderStatus != null and orderStatus != ''">
	        and (c.order_status = #{orderStatus,jdbcType=VARCHAR} or c.order_status is null)
	    </if>
	</where>
</select>
<!-- 根据id修改对应理财经理 -->
<update id="updateEmpCodeById" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
    update tz.int_phone
    <trim prefix="SET" suffixOverrides=",">
         <if test="empCode != null and empCode != ''">emp_code = #{empCode,jdbcType=VARCHAR},</if>
         <if test="modifyBy != null and modifyBy != ''">modify_by = #{modifyBy,jdbcType=VARCHAR},</if>
		 <if test="modifyTime != null and modifyTime != ''">modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
    </trim>
    <where>
            id = #{id,jdbcType=VARCHAR}
    </where>
</update>
<!--根据理财经理工号查询理财经理信息  -->
<select id="findEmpInfoByCode"  parameterType="java.util.Map" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
     select
         u.id as "newEmpId",
	 	 u.login_name as "loginName",
	     u.name as "newEmpName",
	     u.user_code as "newEmpCode",
	     u1.id as "newTeamManagerId",
	     u1.name as "newTeamManagerName",
	     u1.user_code as "newTeamManagerCode",
	     org_ogl.name as "newTeamName",
	     org_ogl.id as "newTeamId",
	     org.name as "newOrgName",
	     org.id as "newOrgId"
	 from tz.t_gl_user_role_org uro
	 left join tz.t_gl_user u on u.id = uro.user_id
	 inner join tz.t_gl_org org_ogl on org_ogl.id = uro.org_id and org_ogl.useable = '1'
	 left join  tz.t_gl_org org on ','||org_ogl.parent_ids like '%,' || org.id || ',%' 
	 and org.type = #{orgType} and org.useable = '1'
	 left join tz.t_gl_user_role_org uro2 on uro.org_id = uro2.org_id and uro2.role_id = #{teamManagerRole}
	 left join tz.t_gl_user u1 on u1.id = uro2.user_id and u1.status = '1'
	 where 
	     u.user_code = #{code} 
	 and uro.role_id =#{managerRole}
	 and u.status = '1' 
  </select>
  <!--根据理财经理工号查询离职理财经理信息  -->
<select id="findStopEmpInfoByCode"  parameterType="java.util.Map" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
     select
         u.id as "newEmpId",
	 	 u.login_name as "loginName",
	     u.name as "newEmpName",
	     u.user_code as "newEmpCode",
	     u1.id as "newTeamManagerId",
	     u1.name as "newTeamManagerName",
	     u1.user_code as "newTeamManagerCode",
	     org_ogl.name as "newTeamName",
	     org_ogl.id as "newTeamId",
	     org.name as "newOrgName",
	     org.id as "newOrgId"
	 from tz.t_gl_user_role_org uro
	 left join tz.t_gl_user u on u.id = uro.user_id 
	 inner join tz.t_gl_org org_ogl on org_ogl.id = uro.org_id
	 left join  tz.t_gl_org org on ','||org_ogl.parent_ids like '%,'||org.id || ',%' 
	 and org.type = #{orgType}
	 left join tz.t_gl_user_role_org uro2 on uro.org_id = uro2.org_id and uro2.role_id = #{teamManagerRole}
	 left join tz.t_gl_user u1 on u1.id = uro2.user_id
	 where 
	     u.user_code = #{code} 
	 and uro.role_id =#{managerRole}
  </select>
  <!-- 插入三网交割表交割信息 -->
  <insert id="insertIntDelivery" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
      insert into tz.int_delivery
      <trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="id != null and id != ''">id,</if>
          <if test="deliveryType != null and deliveryType != ''">delivery_type,</if>
          <if test="phone != null and phone != ''">phone,</if>
          <if test="lendCode != null and lendCode != ''">loan_id,</if>
          <if test="empId != null and empId != ''">emp_id,</if>
          <if test="empCode != null and empCode != ''">emp_code,</if>
          <if test="empName != null and empName != ''">emp_name,</if>
          <if test="teamManagerId != null and teamManagerId != ''">team_manager_id,</if>
          <if test="teamManagerCode != null and teamManagerCode != ''">team_manager_code,</if>
          <if test="teamManagerName != null and teamManagerName != ''">team_manager_name,</if>
          <if test="orgId != null and orgId != ''">org_id,</if>
          <if test="orgName != null and orgName != ''">org_name,</if>
          <if test="newEmpId != null and newEmpId != ''">new_emp_id,</if>
          <if test="newEmpCode != null and newEmpCode != ''">new_emp_code,</if>
          <if test="newEmpName != null and newEmpName != ''">new_emp_name,</if>
          <if test="newTeamManagerId != null and newTeamManagerId != ''">new_team_manager_id,</if>
          <if test="newTeamManagerCode != null and newTeamManagerCode != ''">new_team_manager_code,</if>
          <if test="newTeamManagerName != null and newTeamManagerName != ''">new_team_manager_name,</if>
          <if test="newOrgId != null and newOrgId != ''">new_org_id,</if>
          <if test="newOrgName != null and newOrgName != ''">new_org_name,</if>
          <if test="createTime != null and createTime != ''">create_time,</if>
          <if test="operator != null and operator != ''">operator,</if>
          <if test="batchNumber != null and batchNumber != ''">batchnumber,</if>
          <if test="remark != null and remark != ''">remark,</if>
          <if test="loginName != null and loginName != ''">login_name,</if>
          <if test="customerCode != null and customerCode != ''">customer_code,</if>
          <if test="osType != null and osType != '' ">os_type,</if>
          <if test="changeReason != null and changeReason != '' ">change_reason</if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="id != null and id != ''">#{id,jdbcType=VARCHAR},</if>
          <if test="deliveryType != null and deliveryType != ''">#{deliveryType,jdbcType=VARCHAR},</if>
          <if test="phone != null and phone != ''">#{phone,jdbcType=VARCHAR},</if>
          <if test="lendCode != null and lendCode != ''">#{lendCode,jdbcType=VARCHAR},</if>
          <if test="empId != null and empId != ''">#{empId,jdbcType=VARCHAR},</if>
          <if test="empCode != null and empCode != ''">#{empCode,jdbcType=VARCHAR},</if>
          <if test="empName != null and empName != ''">#{empName,jdbcType=VARCHAR},</if>
          <if test="teamManagerId != null and teamManagerId != ''">#{teamManagerId,jdbcType=VARCHAR},</if>
          <if test="teamManagerCode != null and teamManagerCode != ''">#{teamManagerCode,jdbcType=VARCHAR},</if>
          <if test="teamManagerName != null and teamManagerName != ''">#{teamManagerName,jdbcType=VARCHAR},</if>
          <if test="orgId != null and orgId != ''">#{orgId,jdbcType=VARCHAR},</if>
          <if test="orgName != null and orgName != ''">#{orgName,jdbcType=VARCHAR},</if>
          <if test="newEmpId != null and newEmpId != ''">#{newEmpId,jdbcType=VARCHAR},</if>
          <if test="newEmpCode != null and newEmpCode != ''">#{newEmpCode,jdbcType=VARCHAR},</if>
          <if test="newEmpName != null and newEmpName != ''">#{newEmpName,jdbcType=VARCHAR},</if>
          <if test="newTeamManagerId != null and newTeamManagerId != ''">#{newTeamManagerId,jdbcType=VARCHAR},</if>
          <if test="newTeamManagerCode != null and newTeamManagerCode != ''">#{newTeamManagerCode,jdbcType=VARCHAR},</if>
          <if test="newTeamManagerName != null and newTeamManagerName != ''">#{newTeamManagerName,jdbcType=VARCHAR},</if>
          <if test="newOrgId != null and newOrgId != ''">#{newOrgId,jdbcType=VARCHAR},</if>
          <if test="newOrgName != null and newOrgName != ''">#{newOrgName,jdbcType=VARCHAR},</if>
          <if test="createTime != null and createTime != ''">#{createTime,jdbcType=TIMESTAMP},</if>
          <if test="operator != null and operator != ''">#{operator,jdbcType=VARCHAR},</if>
          <if test="batchNumber != null and batchNumber != ''">#{batchNumber,jdbcType=VARCHAR},</if>
          <if test="remark != null and remark != ''">#{remark,jdbcType=VARCHAR},</if>
          <if test="loginName != null and loginName != ''">#{loginName,jdbcType=VARCHAR},</if>
          <if test="customerCode != null and customerCode != ''">#{customerCode,jdbcType=VARCHAR},</if>
          <if test="osType != null and osType != '' ">#{osType,jdbcType=VARCHAR},</if>
          <if test="changeReason != null and changeReason != '' ">#{changeReason,jdbcType=VARCHAR}</if>
      </trim>
  </insert>
  <!-- 修改手机号对应的理财经理 -->
  <update id="updatePhoneEmpCode" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
    update tz.int_phone
	    <trim prefix="SET" suffixOverrides=",">
	         <if test="newEmpCode != null and newEmpCode != ''">emp_code = #{newEmpCode,jdbcType=VARCHAR},</if>
	         <if test="modifyBy != null and modifyBy != ''">modify_by = #{modifyBy,jdbcType=VARCHAR},</if>
		     <if test="modifyTime != null and modifyTime != ''">modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
	    </trim>
	    <where>
	        <if test="empCode != null and empCode != ''">
	            emp_code = #{empCode,jdbcType=VARCHAR}
	        </if>
            and extract(epoch from modify_time) = cast ( COALESCE(#{verTime},'0') as numeric)
	    </where>
  </update>
  
  <!--修改证件号对应的理财经理-->
  <update id="updateCardEmpCode" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
    update tz.int_card
	    <trim prefix="SET" suffixOverrides=",">
	         <if test="newEmpCode != null and newEmpCode != ''">emp_code = #{newEmpCode,jdbcType=VARCHAR},</if>
	    </trim>
	    <where>
	        <if test="empCode != null and empCode != ''">
	            emp_code = #{empCode,jdbcType=VARCHAR}
	        </if>
	        <!-- 2016.08.12 -->
	        <if test="cardId != null and cardId != ''">
	            and card_id = #{cardId,jdbcType=VARCHAR}
	        </if>
	    </where>
  </update>
  <!-- 查询理财经理对应的业绩 -->
  <select id="tripleManagerAchievementList" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
     select  
        lp.lend_code as "lendCode",
        la.customer_code as "customerCode",
        c.customer_name as "customerName"
    from tz.t_tz_loan_performance lp
    left join tz.t_tz_loan_apply la on la.lend_code = lp.lend_code
    left join tz.t_tz_customer c on c.customer_code = la.customer_code
    <where>
            lp.manager_code = #{empId,jdbcType=VARCHAR}
    </where>
   </select>
   <!-- 修改理财经理对应的出借 -->
	<update id="updateTripleLendManager" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	    update tz.t_tz_loan_apply
	    <trim prefix="SET" suffixOverrides=",">
	        <if test="newEmpCode != null and newEmpCode != '' ">manager_code = #{newEmpCode,jdbcType=VARCHAR},</if>
		    team_manager_code = #{newTeamManagerCode,jdbcType=VARCHAR},
		    store_manager_code = #{bussManager,jdbcType=VARCHAR},
		    city_manager_code = #{cityManager,jdbcType=VARCHAR}, 
		    team_org_id = #{teamId,jdbcType=VARCHAR},
		    store_org_id = #{newOrgId,jdbcType=VARCHAR},
		    city_org_id = #{cityOrg,jdbcType=VARCHAR},
		    <if test="modifyBy != null">modify_by = #{modifyBy,jdbcType=VARCHAR},</if>
		    <if test="modifyTime != null">modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
	     </trim>
	    <where>
	        <if test="empCode != null and empCode !='' ">
	            manager_code = #{empCode,jdbcType=VARCHAR}
	        </if>
	        <if test="customerCode != null and customerCode != ''">
	            and customer_code = #{customerCode,jdbcType=VARCHAR}
	        </if>
	        <if test="startTime != null and startTime != '' and endTime != null and endTime != '' ">
	            and apply_lend_day &gt;= #{startTime,jdbcType=TIMESTAMP}  
	            and apply_lend_day &lt;= #{endTime,jdbcType=TIMESTAMP}
	         </if>
	    </where>
	</update>
	<!--查询理财经理对应的客户  -->
	<select id="findManagerCustomerList" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	    select  
	        p.login_name as "loginName",
	        p.phone as "phone",
			p.os_type as "osType",
			p.os_id as "osId",
			p.emp_code as "empCode",
			p.create_time as "createTime",
			p.customer_code as "customerCode",
			c.card_type  as "cardType",
			c.card_id as "cardId"
		from tz.int_phone p
		left join int_phone_card pc on pc.phone = p.phone
		left join int_card c on c.card_id = pc.card_id
		<where>
			<if test="empCode != null and empCode != ''">
			    p.emp_code = #{empCode,jdbcType=VARCHAR}
			</if>
			<if test="loginName != null and loginName != ''">
			    and p.login_name = #{loginName,jdbcType=VARCHAR}
			</if>
			<if test="osType != null and osType != ''">
			    and p.os_type = #{osType,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!--根据客户编号查询对应三网客户信息  -->
	<select id="findInfoByCustCode" resultType="com.creditharmony.fortune.triple.system.entity.IntPhone">
	    select  
	        p.login_name as "loginName",
	        p.phone as "phone",
			p.os_type as "osType",
			p.emp_code as "empCode",
			p.create_time as "createTime"
		from tz.int_phone p
		<where>
		        p.customer_code = #{customerCode,jdbcType=VARCHAR}
		</where>
	</select>
	<!-- 理财经理交割修改客户对应的理财经理 -->
  <update id="updateEmpCode" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
    update tz.int_phone
	    <trim prefix="SET" suffixOverrides=",">
	         <if test="newEmpCode != null and newEmpCode != ''">emp_code = #{newEmpCode,jdbcType=VARCHAR},</if>
	         <if test="modifyBy != null and modifyBy != ''">modify_by = #{modifyBy,jdbcType=VARCHAR},</if>
		     <if test="modifyTime != null and modifyTime != ''">modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
	    </trim>
	    <where>
	            emp_code = #{empCode,jdbcType=VARCHAR}
	    </where>
  </update>
	<!--查询三网客户对应信息list  -->
	<select id="findPhoneList" resultType="com.creditharmony.fortune.triple.system.entity.IntPhone">
	    select  
	        p.login_name as "loginName",
	        p.phone as "phone",
			p.os_type as "osType",
			p.emp_code as "empCode",
			p.create_time as "createTime"
		from tz.int_phone p
		<where>
			<if test="loginName != null and loginName != ''">
			    and p.login_name = #{loginName,jdbcType=VARCHAR}
			</if>
			<if test="osType != null and osType != ''">
			    and p.os_type = #{osType,jdbcType=VARCHAR}
			</if>
            <if test="empCode != null and empCode != ''">
              and p.emp_code = #{empCode,jdbcType=VARCHAR}
            </if>
		</where>
	</select>
	<!-- 根据手机号和系统类型查询是否成单 -->
	<select id="findOrderStatusList" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	   select 
	      ic.order_status as "orderStatus" 
	   from tz.int_phone p
       left join int_phone_card ipc on ipc.phone = p.phone
       left join int_card ic on ic.card_id = ipc.card_id and ic.order_status = '1'
       <where>
           <if test="phone != null and phone != ''">
               p.phone = #{phone,jdbcType=VARCHAR}
           </if>
           <if test="osType != null and osType != ''">
               and p.os_type = #{osType,jdbcType=VARCHAR}
           </if>
           <if test="orderStatus != null and orderStatus != ''">
               and ic.order_status = #{orderStatus,jdbcType=VARCHAR}
           </if>
       </where>
	</select>
	<!--修改chp客户表客户对应理财经理-->
	<update id="updateCustomerEmp" parameterType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	    update tz.t_tz_customer
	    <trim prefix="SET" suffixOverrides=",">
	        <if test="newEmpCode != null and newEmpCode != ''">manager_code = #{newEmpCode,jdbcType=VARCHAR},</if>
	        <if test="newTeamManagerId != null and newTeamManagerId != ''">team_manager_code = #{newTeamManagerId,jdbcType=VARCHAR},</if>
	        <if test="newTeamId != null and newTeamId != ''">team_org_id= #{newTeamId,jdbcType=VARCHAR},</if>
	        <if test="newOrgId != null and newOrgId != ''">org_code = #{newOrgId,jdbcType=VARCHAR},</if>
	        <if test="modifyBy != null and modifyBy != ''">modify_by = #{modifyBy,jdbcType=VARCHAR},</if>
	        <if test="modifyTime != null and modifyTime != ''">modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
	    </trim>
	    <where>
	            customer_mobilephone = #{phone,jdbcType=VARCHAR}
	    </where>
	</update>
	<!-- 查询chp是否存在相应手机号 -->
	<select id="findChpPhone" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	    select
	        customer_name as "loginName",
	        customer_code as "customerCode"
	    from tz.t_tz_customer
	    <where>
	            customer_mobilephone = #{phone,jdbcType=VARCHAR}
	    </where>
	</select>
	
	<!-- 根据理财经理编号查询对应的自动交割客户 -->
	<select id="searchAutoDeliveryCustomer" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	   select 
			p.phone as "phone",
			p.login_name as "loginName",
			p.emp_code as "empCode",
			p.customer_code as "customerCode",
			p.os_type as "osType"
		from tz.int_phone p
        <where>
             p.os_type = 'XH_CHP' 
             and (not EXISTS (
                     SELECT * 
                     FROM tz.int_phone_card pc
                     WHERE 
                          pc.phone = p.phone
                    ))
              and p.emp_code = #{empCode,jdbcType=VARCHAR}
        </where>
	</select>
	
	<!-- 根据用户id查询所属机构 -->
	<select id="findOrgName" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
	    select 
			o.name as "orgName"
		from tz.t_gl_user_role_org uro
	    left join tz.t_gl_org o on o.id =  uro.org_id
	    <where>
	        <if test="empId != null">
	            uro.user_id = #{empId,jdbcType=VARCHAR}
	        </if>
	        and uro.role_id = '6450000002'
	    </where>
	</select>
	<select id="findDeliveryByPhone" resultType="com.creditharmony.fortune.triple.system.entity.ext.IntDeliveryEx">
		select * from tz.int_delivery d
		<where>
			d.phone in
			<foreach collection="phoneList" item="item"  index="index" open="(" separator="," close=")">  
				'${item.phone}'
			</foreach>
			and emp_code not in
			<foreach collection="empCodes" item="item"  index="index" open="(" separator="," close=")">  
				'${item}'
			</foreach>
			
			and new_emp_code in
			<foreach collection="empCodes" item="item"  index="index" open="(" separator="," close=")">  
				'${item}'
			</foreach>
			and d.emp_code is not null
		</where>
		order by d.create_time desc
	</select>
</mapper>